<h1>Hi, I'm Sara!</h1>
<div class="boxOfText">
<p><b>I'm fiercely passionate about my users' experiences.</b></p>
<br />
<p>I live in Kirkland, Washington, settling here after spending time in Denver, Atlanta, and Beijing.</p>
<br />
<p>I'm currently interested in <b>virtual and mixed reality designs, CSCW</b> (computer-supported cooperative work), and <b>cross-cultural engagement.</b></p>
<br />
<p>I'm finishing my master's in Human-Centered Design & Engineering from the University of Washington, graduating in December 2022.</p>
<br />
<p>I also have a bachelor's in computer science and another bachelor's in Chinese language and culture from the Georgia Institute of Technology.</p>
<br />
<p>I speak fluent English (native) and Mandarin Chinese (HSK 6).</p>
<br />
<p>In my free time I enjoy cultivating my plant collection, thrifting, playing Pokemon Go, driving cross country, sewing, and other crafty ventures.</p>
</div>
<hr />

<div class="groupedText">
    <p><b>Why user experience?</b>
I often dwell on the idea that every single person you cross paths with has their own life. Every light shining from an apartment in the city houses people with their own experiences. </p>

<p>When I interact with products, I like to imagine the work that went into them. One of those people who has their own life experiences took the time and effort to contribute to the product that I am now using--if the product is good or bad, what does that say about the effort or thought that its maker put into it? Was it designed for me, or someone else? What about the creator's own life experience did they add into the product? Is it something I can understand?</p>

<p>I've decided to specialize in user experience design and research because I want to try and answer these questions both about the products I use and the products I create, whether they be for myself or others.</p>

<p>Just like every person's life experience is unique, so is their experience with my product as a user. I want to know how I can better understand their personal, subjective experience to better my own product and also learn more about myself along the way.</p>
</div>

<div class="groupedText">
    <p><b>But what about your dev work?</b>
I love being a developer! I love building things, both on and off the computer.</p>

<p>However, I've found that being a developer does not allow me as much time or opportunities to think about my product users in a professional setting. I have worked with so many incredible software developers, but I feel our values often lie in different places, and an hour of my time spent coding does not bring as much value as an hour of my time spent working with users and outlining experience opportunities.</p>

<p>Don't worry! I am still a developer on the side--I just do not wish to pursue a development-centric role at this time.</p>
</div>

<div class="groupedText">
    <p><b>You speak Mandarin?</b>
I speak Mandarin Chinese and can read simplified characters (mainland China). I started studying Chinese in high school and never stopped!</p>
<p>I have attend Peking University (北京大学) and Beijing Language and Culture University (北京语言大学) as an intensive Chinese as a second language student.</p>

<p>I am interested in pursuing work opportunities abroad in East Asia as applicable. Let me know if you have something in mind!</p>
</div>
<div class="groupedText">
<p><b>Why the interest in China?</b>
My time in Beijing and learning a second language helped form my thoughts on user experiences as mentioned above.</p>

<p>Having witnessed technology change so rapidly in my lifetime, particularly in China, I've noticed there is a developing gap. Where language differences used to be a barrier, real-time translation and other tools are now better connecting people. But now instead, cultural differences are what makes communication challenging.</p>

<p>I want to help bridge that gap, which means exploring how can technology be used in cross-cultural experiences to better bring people together. And the best part is that this isn't limited to any single field! Cross-cultural experiences can benefit business deals, friendships, academic engagement, and so on.</p>



<p>So, why China? Because there's more than 1.4 billion people to think about meeting!</p>
<p>And my experiences in China as a Chinese-speaking American has allowed me a unique opportunity to compare differences directly between the two countries and their people.</p>

<p>These same cross-cultural challenges also apply to India, Mexico, Sweden, and everywhere else in the world, but I don't have ample experiences in those countries (yet!).</p>
</div>