<h1>Let's Chat!</h1>
<div class="contactBlock">
	<p>I'm looking for new opportunities in User Experience Research (UXR), Interaction Research, Experience Design, Interaction Design, Qualitative Research, or anything in this general area, including PM roles.</p>
	<br />
	<p>I am not looking for purely dev or technical roles, including front-end dev work, at this time.</p>
	<br />
	<p>Let's chat if you think we'd be a good fit together!</p>
	<br /><br />


	Download my resume <a href="files/ResumeApr2022.pdf" download>here</a>!<br /><br />
	And contact me at <a href="mailto:cagle.sara@gmail.com">Cagle.Sara@gmail.com</a><br /><br />
	<a href="https://github.com/Sara-Cagle" title="GitHub"><i class="fa fa-github fa-3x"></i></a> 
	<a href="http://www.linkedin.com/in/scagle" title="LinkedIn"><i class="fa fa-linkedin-square fa-3x"></i></a> 
	<a href="" ng-click="openModal()"><i class="fa fa-weixin fa-3x" title="WeChat (QR code)"></i></a>



	<div id="wechatQR" ng-show="showModal" ng-click="openModal()">
		Add me on WeChat. | 欢迎加我的微信。<br />
		Username: scagle<br />
		<img src="images/qrCode.png" /><br />
		<small>click to close</small>
	</div> <!--end modal block-->
</div><!--end contact info block-->