<h1>HCDE 533 - Digital Fabrication</h1>
<div class="boxOfText">
<p>Hello! I'm Sara!</p>
</div>

<div class="groupedText">
    <p><b>Why digital fabrication?</b>
        I have a background in software, specifically web dev, but my hands-on experience is unfortunately limited. I've always loved creating things with my hands but I have never really made the jump into machine and computer assisted work.
    </p>
    <p>My artistry background is mostly in textiles. I love fashion design and sewing. However, I am still an amatuer, but am mostly comfortable around sewing machines.</p>
    <p>Beyond sewing, I took HCDE 539 Physical Computing & Prototyping with Adi Azulay in fall 2021, which introduced me to soldering and working with microcontrollers. I was really able to flourish due to my technical background--it was always the physics of electronics that was throwing me off! By jumping right in via a prototyping course, I found myself much more comfortable in exploring new things.</p>
    <p>That course was part 1 of my adventure into tangible work, and I consider HCDE 533 (this course) to be part 2.</p>
    <p>I have also dabbled in laser cutting, glass cutting, and minor woodworking.</p>
</div>

<div class="groupedText">
    <p><b>What do I hope to learn?</b>
        
    </p>
</div>

<div class="groupedText">
    <p><b>What can I teach my peers?</b>
        
    </p>
</div>