<h1>HCDE 533 - Digital Fabrication</h1>
<div class="boxOfText">
    <p>Hello! I'm Sara!</p>
    <p>I started the HCDE program in Autumn 2019 and "graduated" this past June 2022. However, I still have one more
        course, so I have been saving the best for last!</p>
    <p>I live in Kirkland with my spicy cat named Chilipepper. I commute via the bus, so I might rush out early
        (~9:15pm) some days.</p>
    <p>I graduated from Georgia Tech in 2016 with a BS in computer science with a concentration in HCI and web, and
        another BS in Chinese language and culture. I speak Mandarin and travel to Richmond, BC too often to each
        Chinese food.
        I work at Microsoft as a newly minted PM for the Bing at Work team. I am both thrilled and terrified to have
        this job! Prior to that I was still at Microsoft but working as a front-end developer in Professional Services,
        which after 5 years I was ready to make the jump to something new.</p>
    <p>Read more on my <a href="#/about">About page.</a></p>
</div>

<div class="groupedText">
    <p><b>Why digital fabrication?</b>
        I have a background in software, specifically web dev, but my hands-on experience is unfortunately limited. I've
        always loved creating things with my hands but I have never really made the jump into machine and computer
        assisted work.
    </p>
    <p>My artistry background is mostly in textiles. I love fashion design and sewing. I am still an amatuer, but am
        mostly comfortable around sewing machines.</p>
    <p>Beyond sewing, I took HCDE 539 Physical Computing & Prototyping with Adi Azulay in fall 2021, which introduced me
        to soldering and working with microcontrollers. I was really able to flourish due to my technical background--it
        was always the physics of electronics that was throwing me off! By jumping right in via a prototyping course, I
        found myself much more comfortable in exploring new things.</p>
    <p>That course was part 1 of my adventure into tangible work, and I consider HCDE 533 (this course) to be part 2.
    </p>
    <p>I have also dabbled in laser cutting, glass cutting, and minor woodworking.</p>
</div>

<div class="groupedText">
    <p><b>What do I hope to learn?</b>
        I'm looking forward to learning 3D design software and 3D printing! I also want to learn further fabrication
        techniques using the laser cutter and CNC mill. I also am just looking for the umph that will help me overcome
        my fears of trying new things in the world of fabrication and prototyping.
    </p>
</div>

<div class="groupedText">
    <p><b>What can I teach my peers?</b>
        Anyone need coding help? I've got you! I am also reasonably comfortable with Git on the command line. Beyond
        that, I can assist in sewing and overall debugging. I can probably teach much more, but I'm not sure yet what
        skills will be pertitent to this class.
    </p>
</div>

<h1>Projects</h1>

<span ng-controller="hcdeProjectController as hcdeProjects">
    <div ng-repeat="projects in hcdeProjects.projects" class="groupedText">
        <p>
            <b>{{projects.title}}</b>
            {{project.description}}
        <div class="buttonHolder">
            <div class="gitHubButton">
                <a href="{{project.URL}}" title="{{project.title}}">View Project</a>
            </div>
        </div>
        </p>
    </div>
</span>