<H1>A1 - Modeling & Laser Cutting - Cardboard Centipede</H1>


<div class="groupedText">
    <p><b>Prompt</b> Make a kit consisting at least 30 instances of at least one unique part. The parts must have
        slots that press fit into the other parts in the kit and are laser cut out of cardboard. The fit should be such
        that the parts do not come apart with a light shaking. Prior to printing, the parts must be modeled in 3D in
        Rhino.
    </p>
</div>
<div class="groupedText">
    <p>
        <b>Inspiration</b> I originally considered repeated shapes in plants, but couldn't think of a quick way to
        prototype just one or two interlocking, repeatable pieces to create a plant out of. Then I turned my attention
        to bugs that seem to have pieces that interlock together with their exoskeletons. For repeatability, I settled
        on a centipede. <br />
        With its body segments and angular legs, it would be a great way to meet the project goal.
    <div class="centerFlexImages">
        <img src="https://bcms-files.s3.amazonaws.com/rm0pMd8e69-773/images/Centipede.png" />
    </div>
    <span class="centerCaption"><a href="https://www.assuredenvironments.com/pest-library/profile/centipedes"
            class="projectImage">Photo source</a></span>
    </p>
</div>
<div class="groupedText">
    <p>
        <b>Sketching & Paper Prototype</b> I sketched up a rough design of what pieces I wanted to model, settling on a
        single piece that would repeat to build the body and another piece that formed a pair of legs. I also considered
        creating antennae and a more formal head shape, but decided to put that on hold until I got to Rhino.
    <div class="centerFlexImages">
        <img src="/images/hcde533/a1/centipede sketch.jpg" class="projectImage"
            alt="Rough sketch of a centipede and multiple pieces on graph paper." />
    </div>
    <span class="centerCaption">Rough sketch of pieces I wanted to make</span>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a1/centipede papaer.jpg" class="projectImage"
            alt="Several ovals cut out of paper and interlocked together, sitting on top of the sketch." />
    </div>
    <span class="centerCaption">Paper prototyping</span>
    </p>
</div>
<div class="groupedText">
    <p><b>Hand-cut Cardboard Prototype</b> After paper I moved into cardboard to measure out how large the body segments
        should be and how the cardboard would hook together. I sketched out roughly the size I wanted and then measured
        it into an easier to maintain value (30cm by 50cm ellipse.) I also tried out different depths of cuts for the
        slots, mostly between 12 and 14mm deep. My biggest blocker was realizing that the pieces slotted into
        <i>eachother</i>, meaning I needed to account for the depth on both sides.
    <div class="centerFlexImages">
        <img src="/images/hcde533/a1/centipede cardboard prototype 1.jpg" class="projectImage"
            alt="A roughly cut cardboard prototype of ovals interlocked together." />
        <img src="/images/hcde533/a1/centipede cardboard prototype 2.jpg" class="projectImage"
            alt="A roughly cut cardboard prototype of ovals interlocked together." />
        <img src="/images/hcde533/a1/centipede cardboard prototype 3.jpg" class="projectImage"
            alt="A roughly cut sketch of an M-shaped piece of cardboard for the legs." />
    </div>
    <span class="centerCaption">Figuring out sizing with hand-cut cardboard</span>
    </p>
</div>
<div class="groupedText">
    <p><b>Modeling in Rhino</b> I began mocking up the pieces in Rhino based on the measurements I decided on. I'm
        particularly a fan of the mirror tool that allowed me to duplicate objects over themselves for faster designing.
        I created a 3D model of 4mm thick pieces (the thickness of the cardboard I would be cutting). I then duplicated
        them to see how they'd look put together. I decided for simplicity only to create the body segments and
        legs.
    <div class="centerFlexImages">
        <img src="/images/hcde533/a1/centipede model.png" class="projectImage"
            alt="3D model of a bug in Rhino, featuring 4 interlocked ellipses and 2 M-shaped pairs of legs.">
    </div>
    <span class="centerCaption">3D view</span>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a1/centipede model front.png" class="projectImage"
            alt="A front view of a bug in Rhino, showing the intersection of interlocked ellipses and the M-shape of a pair of legs.">
    </div>
    <span class="centerCaption">Front view</span>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a1/centipede model top.png" class="projectImage"
            alt="A top-down view of a bug and its component shapes in Rhino, showing the ellipses and legs layered on each other.">
    </div>
    <span class="centerCaption">Top view</span>

    <a href="/images/hcde533/a1/centipede%20model.3dm" title="Centipede Rhino model file">Rhino model file</a>
    </p>
</div>
<div class="groupedText">
    <p>
        <b>Laser Cutting</b> I exported the surfaces from my Rhino file into Inkscape to cut on the Epilog laser cutter
        available to me at Microsoft's makerspace, The Garage. I test cut a couple of pieces while trying to find the
        right settings. In the end I settled on 10% Speed and 85% Power for the laser.
    </p>
    <p>After finding the settings I loaded up several pieces in the same file and proceeded to cut them close together
        to minimize waste. I found out midway that the cardboard I was using, due to its lossy paper backing, was
        causing my cuts to burn and not cut all the way through. After the first run through, I spent time peeling the
        paper off the back of the cardboard and ran the print again. This time the pieces came out mostly clean with
        limited burning.
    <div class="centerFlexImages">
        <img src="/images/hcde533/a1/centipede in cutter.jpg" class="projectImage"
            alt="Laser cutter outlining pieces to cut in cardboard." />
    </div>
    <span class="centerCaption">Getting the final cuts going. I did not pay much attention to cut order. Can you see
        the burn marks where it caught fire?</span>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a1/centipede test cuts.jpg" class="projectImage"
            alt="Some test cuts in cardboard with the laser cutter." />
    </div>
    <span class="centerCaption">Some test cuts while finding the right laser settings.</span>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a1/centipede pieces 2.jpg" class="projectImage"
            alt="The final piece of cardboard after some pieces were cut out." />
    </div>
    <span class="centerCaption">Popping the pieces out of the cardboard. This was after peeling the paper away to
        make cleaner cuts. You can see the original failed cuts on the far side.</span>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a1/centipede pieces.jpg" class="projectImage"
            alt="Several little pieces of cardboard scattered on a table." />
    </div>
    <span class="centerCaption">My laser-cut building blocks for my centipede!</span>
    </p>
</div>
<div class="groupedText">
    <p><b>Final Product</b> After cutting I put the pieces together and ta-da! My cardboard centipede was born!</p>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a1/centipede done 1.jpg" class="projectImage"
            alt="A centipede constructed out of interlocking pieces of cardboard." />
        <img src="/images/hcde533/a1/centipede done 3.jpg" class="projectImage"
            alt="A centipede constructed out of interlocking pieces of cardboard." />
        <img src="/images/hcde533/a1/centipede done 2.jpg" class="projectImage"
            alt="A centipede constructed out of interlocking pieces of cardboard." />
    </div>
    <span class="centerCaption">Featuring the Epilog laser cutter used to make my centipede come to life.</span>

</div>