<H1>A1 - Modeling & Laser Cutting - Cardboard Centipede</H1>

Make a kit consisting of at least 30 instances of at least one unique part! The parts must have slots that press fit
into the other parts in the kit! The parts must be laser cut out of cardboard! Your fit should be such that the parts do
not come apart with a light shaking!

You must model your parts in 3D in Rhino.

Document your project on a webpage linked to from your main webpage. You will be expected to talk about your project in
class next week using your documentation. Your documentation should include source files, laser cutter settings, and a
write up about your process!

You are encouraged to work together but all work submitted must be your own. Please list your collaborators and
peer-teachers in your documentation acknowledgements. If you use external sources (e.g. for images) please attribute
them.

<div class="groupedText">
    <p>Make a kit consisting of at least 30 instances of at least one unique part! The parts must have slots that press
        fit
        into the other parts in the kit! The parts must be laser cut out of cardboard! Your fit should be such that the
        parts do
        not come apart with a light shaking!

        You must model your parts in 3D in Rhino.

        Document your project on a webpage linked to from your main webpage. You will be expected to talk about your
        project in
        class next week using your documentation. Your documentation should include source files, laser cutter settings,
        and a
        write up about your process!

        You are encouraged to work together but all work submitted must be your own. Please list your collaborators and
        peer-teachers in your documentation acknowledgements. If you use external sources (e.g. for images) please
        attribute
        them.</p>
</div>