<H1>A1 - Modeling & Laser Cutting - Cardboard Centipede</H1>

<div class="groupedText">
    <p><b>Prompt</b> Make a kit consisting of at least 30 instances of at least one unique part. The parts must have
        slots that press fit into the other parts in the kit and are laser cut out of cardboard. The fit should be such
        that the parts do not come apart with a light shaking. Prior to printing, the parts must be modeled in 3D in
        Rhino.
    </p>

    <p>
        <b>Inspiration</b> I originally considered repeated shapes in plants, but couldn't think of a quick way to
        prototype just one or two interlocking, repeatable pieces to create a plant out of. Then I turned my attention
        to bugs, that seem to have pieces that interlock together with their exoskeletons. For repeatability, I settled
        on a centipede. <br />
        With its body segments and angular legs, it would be a great way to met the project goal.<br />
        <a href="https://www.assuredenvironments.com/pest-library/profile/centipedes"><img
                src="https://bcms-files.s3.amazonaws.com/rm0pMd8e69-773/images/Centipede.png" /></a>
    </p>

    <p><b>Sketching & Paper Prototype</b> I sketched up a rough design of what pieces I wanted to model, settling on a
        single piece that would repeat to build the body and another piece that formed a pair of legs. I also considered
        creating antennae and a more formal head shape, but decided to put that on hold until I got to Rhino. <br />
        [images here]
    </p>

    <p><b>Hand-cut Cardboard Prototype</b> After paper I moved into cardboard to measure out how large the body segments
        should be and how the cardboard would hook together. I sketched out roughly the size I wanted and then measured
        it into an easier to maintain value (30cm by 50cm ellipse.) I also tried out different depths of cuts for the
        slots, mostly between 12 and 14mm deep. My biggest blocker was realizing that the pieces slotted into
        <i>eachother</i>, meaning I needed to account for the depth on both sides. <br />
        [images here]
    </p>

    <p><b>Modeling in Rhino</b> I began mocking up the pieces in Rhino based on the measurements I decided on. I'm
        particularly a fan of the mirror tool that allowed me to duplicate objects over themselves for faster designing.
        I created a 3D model of 4mm thick pieces (the thickness of the cardboard I would be cutting). I then duplicated
        them to see how they'd look put together. I decided for simplicity only to create the body segments and
        legs.<br />
        <img src="/images/hcde533/a1/centipede model.png">
        <img src="/images/hcde533/a1/centipede model front.png">
        <img src="/images/hcde533/a1/centipede model top.png"><br />

        <a href="/images/hcde533/a1/centipede%20model.3dm">Rhino model file</a>
    </p>

    <p>
        <b>Laser Cutting</b> I exported the surfaces from my Rhino file into Inkscape to cut on the Epilog laser cutter
        available to me at Microsoft's makerspace, The Garage. I test cut a couple of pieces while trying to find the
        right settings. In the end I settled on 10% Speed and 85% Power for the laser.
    </p>
    <p>After finding the settings I loaded up several pieces in the same file and proceeded to cut them close together
        to minimize waste. I found out midway that the cardboard I was using, due to its lossy papper backing, was
        causing my cuts to burn and not cut all the way through. After the first runthrough, I spent time peeling the
        paper off the back of the cardboard and ran the print again. This time the pieces came out mostly clean with
        limited burning.<br />
        [images here]
    </p>

    <p><b>Final Product</b> After cutting I put the pieces together and ta-da! My cardboard centipede was born!</p>
    [images here]

</div>