<!--a href="{{hcdeProjects.getPrevProjectUrl()}}">Link to previous assignment</a><a
    href="{{hcdeProjects.getPostProjectUrl()}}">link to later assignment</a-->
<H1>A2 - Parametric Modeling in Grasshopper</H1>


<div class="groupedText">
    <p>
        <b>Prompt</b> Use Grasshopper to create repeatable, interlocking designs parametrically that could be lasercut
        out of cardboard.
    </p>
</div>

<div class="groupedText">
    <p>
        <b>Inspiration</b> My classmates' demos of their A1 assignment inspired me to make something clean and
        simplistic--with mostly clean being the challenging part for me.
        But as an engineer, I was unable to sleep peacefully unless I had paramaterized the shit out of this assignment.
        I set off to make a Grasshopper file that could create a regular <i>n</i>-gon of any reasonable size that has
        <i>n</i> "slots" around it, with each slot centered on each side.
    </p>
</div>

<div class="groupedText">
    <p>
        <b>Thought Process</b>
        My plan was to create a polygon and then a rectangle as the "slot". I then wanted to push the rectangle outward
        from its origin such that it was the distance away from the origin as the midpoint of one of the polygon's
        edge's. Then I planned to rotate the rectangle to the appropriate angle, allowing the rectangle and the polygon
        to intersect.<br />
        I went on to do just that, however, following my creation, Junchao created a tutorial video detailing exactly
        how to create the same end result by means of the tool rather than pure math. Whoops!<br />
        So if you're reading this, Junchao, thanks for the video--I wish I had seen it sooner! Hah!
    </p>
</div>

<div class="groupedText">
    <p>
        <b>Trigonometry & Slot Placement</b>
        Unfortunately for me, who had made an aggressive effort to block out all
        memories of trigonometry, I was confronted by a massive monster: polygons are made out of triangles. <br />
        I knew exactly what I wanted but was struggling to get it: I needed to find the distance from the polygon center
        to the center of its edge, move my rectangle slot that far out in one plane, and then rotate it such that it
        touches the edge.<br />

        After an embarassingly long time Googling and reviewing vocab words, I wanted to find the radius of the
        inscribed circle of my regular polygon.
    </p>

    <div class="centerFlexImages">
        <img src="/images/hcde533/a2/trig1.png" class="projectImage"
            alt="A polygon showing a circumcircle on its outside and an incircle on its inside. One line from the center to the polygon's point is labelled Rc while another line from center to the middle of the polygon edge is labelled Ri." />
        <img src="/images/hcde533/a2/trig2.png" class="projectImage"
            alt="A polygon showing Ri and Rc, as well as equations to calculate the inner angle and the outer edge." />
    </div>
    <div class="centerFlexImages">

        <img src="/images/hcde533/a2/trig3.png" class="projectImage"
            alt="A collection of trigonometric equations on how to solve for Ri and Rc." />
        <img src="/images/hcde533/a2/trig4.png" class="projectImage"
            alt="A collection of trigonometric equations on how to solve for Ri and Rc." />
    </div>
    <span class="centerCaption">
        <a href="https://calcresource.com/geom-ngon.html">Calc Resource website, source</a>
    </span>
    <p>
        With the correct vocab words, I was able to find and use the given formulas to calculate <i>Ri</i>. No need to
        write a proof or simplify the expression, phew!<br />
        But as I toggled my input parameters for polygon size, my slot never intersected with the polygon edge! Long
        story short, I spent hours looking at math because that seemed like the most likely culprit.<br />

        It wasn't until reviewing the existing components in Grasshopper (with my newfound trig vocab) that I pinpointed
        the problem: I was measuring <i>Ri</i> with what I thought was the length of the polygon side. But in
        Grasshopper, polygons are built not with side length but with the radius size of the circumcircle! In words that
        future me will understand: I was actually passing it the length from the center of the polygon to its point, not
        the length of the side.</p>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a2/polygon radius screenshot.png" class="projectImage"
            alt="Screenshot of the Grasshopper Polygon component, highlighting the radius input">
    </div>

    <p>
        The math wasn't wrong at all--I was just using the wrong formula. Once I swapped it out based on the values I
        had, the slots fit like a dream!<br />
        I'd also like to give credit to <a href="https://www.youtube.com/watch?v=QMI-sy0Dksg">this video on how to
            rotate geometry in Grasshopper</a>, showing me how to rotate around the centroid of a polygon's geometry,
        among other simple tricks.
    </p>
</div>

<div class="groupedText">
    <p>
        <b>Grasshopper File</b>
        Yellow panels indicate inputs and blue panels are annotations.
    </p>
    <div class="centerFlexImages">
        <a href="/images/hcde533/a2/n-gon generator white bg.png">
            <img src="/images/hcde533/a2/n-gon generator white bg.png" class="projectImage"
                alt="A large white diagram showing Grasshopper components, color coded with which items are inputs." />
        </a>
    </div>

    <span class="centerCaption"><a href="/images/hcde533/a2/n-gon generator white bg.png">Grasshopper file, click to
            open full size image.</a></span>
    <p>
        <a href="/images/hcde533/a2/n-sided polygon with n cuts.gh">Download Grasshopper file here</a>
    </p>

    <div class="centerFlexImages">
        <img src="/images/hcde533/a2/rhino shape screenshot2.png" class="projectImage"
            alt="Screenshot of the polygon curves generated by the Grasshopper file. The curves have some minor imperfections and duplications.">
    </div>
    <p>
        <a href="/images/hcde533/a2/parametric shapes.3dm">Download Rhino file here</a><br />
        <a href="/images/hcde533/a2/multiple shapes.dxf">Download .dxf file here</a>
    </p>
</div>

<div class="groupedText">
    <p>
        <b>Clusters</b> Along the way, I tried several different formulas to place the slots correctly. My engineer
        brain rolled its eyes everytime I copy and pasted a repeat set of components. It was time to learn to save my
        own items as components.<br />

        From <a href="https://www.youtube.com/watch?v=2k2S6FCfjIc&t=395s">this video</a> I found out that custom
        components are called clusters, and while I strongly suspect there are libraries of existing plug-and-play
        clusters for Grasshopper that exist, I was determined to make my own for the sake of learning.<br />
        I made a cluster for calculating <i>Ri</i> both with the radius of the circumcircle and a second cluster for
        calculating <i>Ri</i> with the length of the polygon side. I also made a cluster for the Pythagorean theorum.
        Finally, I made a cluster for capped extrusion in the z plane.
        Basic clusters that definitely already exist in some library.<br /><br />
        <a href="https://github.com/Sara-Cagle/Sara-Cagle.github.io/tree/master/images/hcde533/clusters">Find my
            clusters on Github here.</a>
    </p>
</div>

<div class="groupedText">
    <p>
        <b>Grasshopper Limitations</b> My largest challenge outside of re-living trig class was bumping up against some
        of the programmatic limitations of Grasshopper. Particularly the lack of
    </p>
    <ul>
        <li>Dynamic input to number sliders</li>
        <li>If/else conditionals</li>
    </ul>
    <p>
        These can easily both be created in Grasshopper and saved as clusters--and people probably have--but I decided I
        would just throw caution to the wind and let my program exist without a few
        fail-safes. My computer science professors from undergrad are gonna kick my butt if they read this.
        <br />
        That said, attention must be paid when determining the size of the polygon and slots you'd like to create.
        Visually the results are interesting, but cut with a laser, the pieces would completely fall through.
    </p>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a2/circles.png" class="projectImage"
            alt="Screenshot of some complex circular shapes that cannot be laser cut.">
    </div>
</div>

<div class="groupedText">
    <p>
        <b>Laser Cutting - Fire in the Hole!</b> Using the same Epilog laser cutter and cardboard as my A1 assignment, I
        ran some cuts at 15% speed and 85% power, which worked last time. Previously I had issues with a lossy backing
        on my cardboard so I peeled the layer off prior to using the cutter, which helped immenseley.
    </p>

    <div class="centerFlexImages">
        <img src="/images/hcde533/a2/testcuts.jpg" class="projectImage"
            alt="A collection of cardboard cutouts pieced together in 3D." />
    </div>
    <span class="centerCaption">Some test cuts to ensure shape size and laser settings were
        sufficient.</span>

    <p>
        Since I was cutting a larger batch, I used a larger piece of cardboard to try and cut all my shapes at
        once.
    </p>

    <div class="centerFlexImages">
        <img src="/images/hcde533/a2/printing3.jpg" class="projectImage"
            alt="Photo of Epilog laser cutter cutting different shapes in a large piece of cardboard." />
        <img src="/images/hcde533/a2/printing1.jpg" class="projectImage"
            alt="Photo of Epilog laser cutter cutting different shapes in a large piece of cardboard." />
        <img src="/images/hcde533/a2/printing0.jpg" class="projectImage"
            alt="Photo of Epilog laser cutter cutting different shapes in a large piece of cardboard." />
    </div>
    <span class="centerCaption">
        Cutting the larg sheet of cardboard. Cut order was still evading me.
    </span>

    <p>
        As part of my safety training with the laser, we were warned that fire is not an "if" but a "when". I'm used to
        seeing my paper and cardboard burn a very tiny amount, but as my larger batch finished, the shapes hadn't all
        cut out, so I decided to run the print again. And then about halfway through my second cut, a small fire started
        and grew unexpectedly!<br />

        I turned off the laser, but the fire proceeded to grow! A fire extinguisher hangs next to the machine, across
        from a sign that says "In case of fire, DON'T PANIC!!".<br />
        I determined the fire was likely too large to go out on its own without intervention, and I wanted to limit the
        impact before it caused damage to something other than my large sheet of cardboard, so I grabbed the
        extinguisher, and a couple blasts put out the fire.<br />
        All that time drinking coffee and zoning out at the fire extinguisher in the break room had paid off--Pull, Aim,
        Spray, Sweep--except this fire was mostly concentrated so the sweeping was pretty limited.
    </p>

    <div class="centerFlexImages">

        <img src="/images/hcde533/a2/fire aftermath.jpg" class="projectImage"
            alt="The cardboard with multiple laser cut lines in it with a large hole burnt in the middle, sitting on a concrete floor next to a fire extinguisher." />
        <img src="/images/hcde533/a2/fire aftermath1.jpg" class="projectImage"
            alt="Three cardboard cutouts sitting in the laser cutter's bed with singed material around it." />
        <img src="/images/hcde533/a2/burnt pieces.jpg" class="projectImage"
            alt="A collection of cardboard cutouts with singed edges, one more than 50% burned." />
    </div>
    <span class="centerCaption">Aftermath of the fire. No one was hurt and the laser was not damaged, but my largest
        cardboard sheet was now ruined, along with several of my cut pieces.</span>
    <p>
        I proceeded to ensure my cardboard was no longer on fire and then cleaned the machine, emptying the bottom catch
        tray, checking the bottom chamber with the laser belt, and finally cleaning the lenses. I then emailed
        facilities to inform them I had discharged the fire extinguisher.
    </p>
</div>

<div class="groupedText">
    <p>
        <b>What went wrong?</b>

        I had run the laser cutter a hundred times before--what was different this time?! A couple things (for which I
        have concern about for the Mill...)

    <ul>
        <li>
            Previously I was using small pieces of cardboard that were slightly warped. But the printing area was small
            enough, and I focused the laser on the warped section so the prints succeeded. This time I was using a piece
            of cardboard that was almost the same size as the laser bed. This larger piece had more room for the
            laser to be out of focus compared to the small piece. Even though the laser was focused, it was not focused
            for the entirety of the piece, causing excess heat in some areas that led to the fire. <br />
            A comment for the Mill: when training there, the staff insisted it was not a big deal if the laser wasn't
            focused <i>perfectly</i>. I was mostly in agreement until now, and for safety's sake, I don't think the
            staff should tell this to students.
        </li>
        <li>
            I had run the same 15% speed 85% power cut twice in order to cut out my shapes. The Mill also advises this
            approach, but in the future I will be decreasing my power/increasing my speed on a second cut. I think on
            its own this would not have been an issue, but coupled with the warped cardboard, the fire risk increased..
        </li>
        <li>I also had a couple instances of accidental double vector lines I was cutting--keep reading.</li>
    </ul>
    After the fire and cleaning the laser, I tested it again and had no issues with the machine. I proceeded to use
    my smaller pieces of cardboard and limit my area to roughly the same "warpedness" in the cardboard to ensure the
    laser stayed focused. Everything worked fine! Lessons learned!
    </p>
</div>

<div class="groupedText">
    <p>
        <b>Converting Between Rhino & Inkscape</b>
        At one point my Grasshopper file only created curves in the 2D plane, but I extruded them for the assignment and
        then tried to again break the extrusions back down for printing the face borders. In hindsight I would have
        stopped my program at the curve creation and just exported those into the .dxf file.<br />
        Working from the top view, I ended up selecting both the top and bottom faces to export because I could not see
        the duplication in the 2D plane. It wasn't until I was running the laser that I noticed the laser was following
        paths it had already cut, indicating multiple of the same vectors.<br />
        I tried again to carefully export only one set of faces but it was extremely time consuming. Further, in
        Inkscape, my closed paths exploded open and I had to select each path and combine them (ctrl K) to them make
        them easier to place.<br />
        So in the future:
    </p>
    <ul>
        <li>
            If I plan to cut, I'll stop at curves rather than extrude the shape. I can extrude the shape later either
            with another Grasshopper step or manually.
        </li>
        <li>If I must export a surface from a 3D object, I need to ensure I can see all 3 planes before selecting.</li>
        <li>For cutting, rather than lay out all pieces (curves or other) in Rhino, I will only export one since I will
            need to process it in Inkscape anyways. Then in Inkscape I will duplicate it out after it's processed so I
            don't need to process each item. I'll only lay out multiple shapes in Rhino if they plan to live virtually
            in Rhino (or their placement must be exact.)</li>
    </ul>
</div>

<div class="groupedText">
    <p>
        <b>Final Result</b>
    </p>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a2/rhino shape screenshot.png" class="projectImage"
            alt="White rendering of the different shapes I planned to cut out." />
    </div>
    <span class="centerCaption">Rendering of the shapes I decided to print.</span>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a2/creation0.jpg" class="projectImage"
            alt="Several 3D shapes cut out of cardboard and interlocked together in an abstract way." />
        <img src="/images/hcde533/a2/creation1.jpg" class="projectImage"
            alt="Several 3D shapes cut out of cardboard and interlocked together in an abstract way." />
    </div>
    <span class="centerCaption">Some examples of combining the laser cut pieces.</span>
</div>