<H1>A3 - Intro to 3D Printing</H1>


<div class="groupedText">
    <p><b>Prompt</b> Explore your 3D printer and print a nested object.
    </p>
</div>
<div class="groupedText">
    <p>
        <b>Setting Up the Printer</b> Setting up the printer was simultaneously harder and easier than I expected. I
        have never spent time putting together such precise devices before, so I was concerned one wrong move would
        render the entire investment moot. However, putting the machine together made me much more comfortable with each
        of the pieces and less concerned about looking at the machine wrong and causing it to malfunction. I was lucky
        that once I had the machine together, everything just <i>worked</i>. It turned on the first try and homed
        without any problems. However, some of the initial instructions and screws confused me and I turned to <a
            href="https://youtu.be/ibsOYzXduYc">this video</a>. <br />
        Leveling the bed for the first time was also miserable, but now that it is in its expected position, it's not
        too challenging to confirm prior to each print. It reminds me of focusing a laser (for which if you read about
        my fire for A2, you know I should now be a pro at completing the focus step!)
    </p>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a3/printer build.JPG" class="projectImage"
            alt="A large white diagram showing Grasshopper components, color coded with which items are inputs." />
        <img src="/images/hcde533/a3/workshop.JPG" class="projectImage"
            alt="A large white diagram showing Grasshopper components, color coded with which items are inputs." />
        <img src="/images/hcde533/a3/selfie.JPG" class="projectImage"
            alt="A large white diagram showing Grasshopper components, color coded with which items are inputs." />
    </div>
    <span class="centerCaption">I built the printer in my garage workshop. But I neglected the fact that Washington is
        dark in the winter and my garage is not well lit. So I have been working by the light of a lantern and headlamp.
        The headlamp is fantastically useful even in a lit area!</span>

    <div class="centerFlexImages">
        <img src="/images/hcde533/a3/printer heating.JPG" class="projectImage"
            alt="A large white diagram showing Grasshopper components, color coded with which items are inputs." />
    </div>
    <span class="centerCaption">Turning on and working, first try!</span>
</div>

<div class="groupedText">
    <p>
        <b>Test Prints</b> I started with the recommended 2cm cubes as my first prints which were easy enough. Junchao
        and I chatted about camping and glamping while we watched my printing run over Zoom. Getting the first cube off
        of the glass bed was more challenging than I expected, and I ended up using way more force than I wanted to, so
        I had to relevel the bed again (ugh). But it has since gotten a bit easier.
    </p>
    <p>
        I moved on to cylinders and completely misunderstood the "Tube" command on Rhino as I struggled to make
        concentric circles and then cap them the right way. After a couple of attempts, I spoke to my classmate Minah
        Kim Bass about her print tests and she introduced me to the "Tube" command. Better late than never!<br />
        I wasn't sure what size cylinders to test, so Junchao recommended I try creating cylinders with walls of 0.4mm
        and 0.8mm width, which became my standard for various print tests.
    </p>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a3/printing cube.JPG" class="projectImage"
            alt="A large white diagram showing Grasshopper components, color coded with which items are inputs." />
        <img src="/images/hcde533/a3/multiple prints at once.JPG" class="projectImage"
            alt="A large white diagram showing Grasshopper components, color coded with which items are inputs." />
    </div>
    <span class="centerCaption">
        First test print versus my last test print of trying to put as many on the plate as I can.
    </span>

    <p><b>Challenges With Test Printing</b></p>
    <ul>
        <li>It's slow to run one print for each setting,</li>
        <li>because I had accidentally set all of my prints to run at the highest quality.</li>
        <li>
            My print walls are so thin (albeit by design), that it is challenging to find much difference between them.
        </li>
        <li>
            There's so many settings to toggle that I still don't have a good grasp of them (and I don't have enough
            time or even PLA to explore <i>everything</i>.)
        </li>
    </ul>
    <p>I found that reviewing <a
            href="https://3dprinterly.com/cura-settings-ultimate-guide-settings-explained-how-to-use/">this document
            with
            indepth information on print settings from 3D Printerly</a> was more valuable to me than running and
        comparing
        test prints.
    </p>
    <br />
    <table class="dataTable">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Rhino thickness</th>
                <th>Calipers Thickness</th>
                <th>Extrusion Thickness</th>
                <th>Wall Count</th>
                <th>Tolerance</th>
                <th>Files</th>
                <th style="width:40%;">Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Photo 1</td>
                <td class="numberCell">20mm</td>
                <td class="numberCell">19.91mm</td>
                <td class="numberCell">0.8mm</td>
                <td class="numberCell">2</td>
                <td class="numberCell">0.01mm</td>
                <td>
                    <ul>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">Rhino file</a></li>
                        <li><a href="/images/hcde533/a3/20x20 cube.stl">Cura file</a></li>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">G Code file</a></li>
                    </ul>
                </td>
                <td class="textCell">Low quality cube</td>
            </tr>
            <tr>
                <td>Photo 2</td>
                <td class="numberCell">20mm</td>
                <td class="numberCell">19.85mm</td>
                <td class="numberCell">0.8mm</td>
                <td class="numberCell">2</td>
                <td class="numberCell">0.01mm</td>
                <td>
                    <ul>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">Rhino file</a></li>
                        <li><a href="/images/hcde533/a3/20x20 cube.stl">Cura file</a></li>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">G Code file</a></li>
                    </ul>
                </td>
                <td class="textCell">Standard quality cube</td>
            </tr>
            <tr>
                <td>Photo 3</td>
                <td class="numberCell">20mm</td>
                <td class="numberCell">19.77mm</td>
                <td class="numberCell">1.2mm</td>
                <td class="numberCell">3</td>
                <td class="numberCell">0.01mm</td>
                <td>
                    <ul>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">Rhino file</a></li>
                        <li><a href="/images/hcde533/a3/20x20 cube.stl">Cura file</a></li>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">G Code file</a></li>
                    </ul>
                </td>
                <td class="textCell">Super (highest) quality cube</td>
            </tr>
            <tr>
                <td>Photo 4</td>
                <td class="numberCell">-</td>
                <td class="numberCell">6.85mm</td>
                <td class="numberCell">0.4mm</td>
                <td class="numberCell">1</td>
                <td class="numberCell">0.01mm</td>
                <td>
                    <ul>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">Rhino file</a></li>
                        <li><a href="/images/hcde533/a3/3cm tube.stl">Cura file</a></li>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">G Code file</a></li>
                    </ul>
                </td>
                <td class="textCell">Created without "Tube" function, unsure of Rhino measurements.</td>
            </tr>
            <tr>
                <td>Photo 5</td>
                <td class="numberCell">-</td>
                <td class="numberCell">6.22mm</td>
                <td class="numberCell">0.8mm</td>
                <td class="numberCell">1</td>
                <td class="numberCell">0.01mm</td>
                <td>
                    <ul>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">Rhino file</a></li>
                        <li><a href="/images/hcde533/a3/3cm tube.stl">Cura file</a></li>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">G Code file</a></li>
                    </ul>
                </td>
                <td class="textCell">Created without "Tube" function, unsure of Rhino measurements.</td>
            </tr>
            <tr>
                <td>Photo 6</td>
                <td class="numberCell">0.4mm</td>
                <td class="numberCell">0.48mm</td>
                <td class="numberCell">0.4mm</td>
                <td class="numberCell">1</td>
                <td class="numberCell">0.01mm</td>
                <td>
                    <ul>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">Rhino file</a></li>
                        <li><a href="/images/hcde533/a3/3cm tube 0.44mm width.stl">Cura file</a></li>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">G Code file</a></li>
                    </ul>
                </td>
                <td class="textCell">Bendy and flexible</td>
            </tr>
            <tr>
                <td>Photo 7</td>
                <td class="numberCell">0.8mm</td>
                <td class="numberCell">0.93mm</td>
                <td class="numberCell">0.4mm</td>
                <td class="numberCell">1</td>
                <td class="numberCell">0.01mm</td>
                <td>
                    <ul>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">Rhino file</a></li>
                        <li><a href="/images/hcde533/a3/3cm tube 0.8mm width.stl">Cura file</a></li>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">G Code file</a></li>
                    </ul>
                </td>
                <td class="textCell">Noticeably thicker than the 0.4mm tube. Has a slip down the side where the printer
                    rotates back
                    around.</td>
            </tr>
            <tr>
                <td>Photo 8</td>
                <td class="numberCell">0.4mm</td>
                <td class="numberCell">0.7mm</td>
                <td class="numberCell">0.8mm</td>
                <td class="numberCell">1</td>
                <td class="numberCell">0.01mm</td>
                <td>
                    <ul>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">Rhino file</a></li>
                        <li><a href="/images/hcde533/a3/3cm tube 0.44mm width.stl">Cura file</a></li>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">G Code file</a></li>
                    </ul>
                </td>
                <td class="textCell">Bendy and flexible</td>
            </tr>
            <tr>
                <td>Photo 9</td>
                <td class="numberCell">0.8mm</td>
                <td class="numberCell">0.94mm</td>
                <td class="numberCell">0.8mm</td>
                <td class="numberCell">1</td>
                <td class="numberCell">0.01mm</td>
                <td>
                    <ul>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">Rhino file</a></li>
                        <li><a href="/images/hcde533/a3/3cm tube 0.8mm width.stl">Cura file</a></li>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">G Code file</a></li>
                    </ul>
                </td>
                <td class="textCell">Has a slip down the side where the printer rotates back around. The turnaround spot
                    ends up having
                    whispy pieces of plastic blown around.</td>
            </tr>
            <tr>
                <td>Photo 10</td>
                <td class="numberCell">0.4mm</td>
                <td class="numberCell">0.51mm</td>
                <td class="numberCell">0.4mm</td>
                <td class="numberCell">2</td>
                <td class="numberCell">0.01mm</td>
                <td>
                    <ul>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">Rhino file</a></li>
                        <li><a href="/images/hcde533/a3/3cm tube 0.44mm width.stl">Cura file</a></li>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">G Code file</a></li>
                    </ul>
                </td>
                <td class="textCell">-</td>
            </tr>
            <tr>
                <td>Photo 10</td>
                <td class="numberCell">0.8mm</td>
                <td class="numberCell">1.01mm</td>
                <td class="numberCell">0.4mm</td>
                <td class="numberCell">2</td>
                <td class="numberCell">0.01mm</td>
                <td>
                    <ul>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">Rhino file</a></li>
                        <li><a href="/images/hcde533/a3/3cm tube 0.8mm width.stl">Cura file</a></li>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">G Code file</a></li>
                    </ul>
                </td>
                <td class="textCell">Has a slip down the side where the printer rotates back around.</td>
            </tr>
            <tr>
                <td>Photo 10</td>
                <td class="numberCell">0.4mm</td>
                <td class="numberCell">0.61mm</td>
                <td class="numberCell">0.8mm</td>
                <td class="numberCell">2</td>
                <td class="numberCell">0.01mm</td>
                <td>
                    <ul>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">Rhino file</a></li>
                        <li><a href="/images/hcde533/a3/3cm tube 0.44mm width.stl">Cura file</a></li>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">G Code file</a></li>
                    </ul>
                </td>
                <td class="textCell">-</td>
            </tr>
            <tr>
                <td>Photo 10</td>
                <td class="numberCell">0.8mm</td>
                <td class="numberCell">0.98mm</td>
                <td class="numberCell">0.8mm</td>
                <td class="numberCell">2</td>
                <td class="numberCell">0.01mm</td>
                <td>
                    <ul>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">Rhino file</a></li>
                        <li><a href="/images/hcde533/a3/3cm tube 0.8mm width.stl">Cura file</a></li>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">G Code file</a></li>
                    </ul>
                </td>
                <td class="textCell">-</td>
            </tr>
            <tr>
                <td>Photo 11</td>
                <td class="numberCell">0.4mm</td>
                <td class="numberCell">Calipers Thickness 10</td>
                <td class="numberCell">print thickness</td>
                <td class="numberCell">wall count</td>
                <td class="numberCell">0.01mm</td>
                <td>
                    <ul>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">Rhino file</a></li>
                        <li><a href="/images/hcde533/a3/3cm tube 0.8mm width.stl">Cura file</a></li>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">G Code file</a></li>
                    </ul>
                </td>
                <td class="textCell">Spiralize</td>
            </tr>
            <tr>
                <td>Photo 11</td>
                <td class="numberCell">0.8mm</td>
                <td class="numberCell">Calipers Thickness 10</td>
                <td class="numberCell">print thickness</td>
                <td class="numberCell">wall count</td>
                <td class="numberCell">0.01mm</td>
                <td>
                    <ul>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">Rhino file</a></li>
                        <li><a href="/images/hcde533/a3/3cm tube 0.8mm width.stl">Cura file</a></li>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">G Code file</a></li>
                    </ul>
                </td>
                <td>Spiralize</td>
            </tr>
            <tr>
                <td>Photo 11</td>
                <td class="numberCell">0.4mm</td>
                <td class="numberCell">0.61mm</td>
                <td class="numberCell">print thickness</td>
                <td class="numberCell">wall count</td>
                <td class="numberCell">0.001mm</td>
                <td>
                    <ul>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">Rhino file</a></li>
                        <li><a href="/images/hcde533/a3/3cm tube 0.8mm width.stl">Cura file</a></li>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">G Code file</a></li>
                    </ul>
                </td>
                <td class="textCell">-</td>
            </tr>
            <tr>
                <td>Photo 11</td>
                <td class="numberCell">0.8mm</td>
                <td class="numberCell">0.98mm</td>
                <td class="numberCell">print thickness</td>
                <td class="numberCell">wall count</td>
                <td class="numberCell">0.001mm</td>
                <td>
                    <ul>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">Rhino file</a></li>
                        <li><a href="/images/hcde533/a3/3cm tube 0.8mm width.stl">Cura file</a></li>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">G Code file</a></li>
                    </ul>
                </td>
                <td class="textCell">-</td>
            </tr>
            <tr>
                <td>Photo 11</td>
                <td class="numberCell">0.4mm</td>
                <td class="numberCell">0.61mm</td>
                <td class="numberCell">print thickness</td>
                <td class="numberCell">wall count</td>
                <td class="numberCell">0.1mm</td>
                <td>
                    <ul>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">Rhino file</a></li>
                        <li><a href="/images/hcde533/a3/3cm tube 0.8mm width.stl">Cura file</a></li>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">G Code file</a></li>
                    </ul>
                </td>
                <td class="textCell">Sides look chunky and rectangular, but mostly in the light.</td>
            </tr>
            <tr>
                <td>Photo 11</td>
                <td class="numberCell">0.8mm</td>
                <td class="numberCell">0.95</td>
                <td class="numberCell">print thickness</td>
                <td class="numberCell">wall count</td>
                <td class="numberCell">0.1mm</td>
                <td>
                    <ul>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">Rhino file</a></li>
                        <li><a href="/images/hcde533/a3/3cm tube 0.8mm width.stl">Cura file</a></li>
                        <li><a href="/images/hcde533/a3/cube and tubes.3dm">G Code file</a></li>
                    </ul>
                </td>
                <td class="textCell">Sides look chunky and rectangular, even moreso than the 0.4mm tube.</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="groupedText">
    <p><b>Nested Objects - Inspiration and Modeling in Rhino</b>
        For my nested object, I struggled to think of something to create that was both interesting, simple, and not a
        copy of someone else's work. My brain struggles to understand how these nested items can be designed and printed
        together. I hunted around Thingiverse and looked at some <a
            href="https://www.thingiverse.com/thing:167120">nested armour pieces</a> and recalled a video I saw some
        weeks ago about a collapsable light saber. Minah showed me screenshots of her polagonal nested piece of art. But
        none of these ideas sounded like <i>me.</i><br />
        I finally turned to my boyfriend, who has built a car in his free time and owns his own 3D printer, to ask about
        nested things I could
        print. He listed off various mechanical items that were of no real interest to me, until he announced: "build
        one of your plant stands with the wheels."<br />
        That was it! I will build a mini plantstand with wheels. A table-top creation for some little teacup plants, not
        my monster 100 pound plants who live outside.<br />
        ...but maybe I should just start with the wheels, first.
    </p>
    <p>
        So I took a look at a plant stand I have from Daiso with my calipers to get a rough idea of wheel measurements.
        I wanted to create a wheel that had:</p>
    <ul>
        <li>3 rolling "wheel" pieces,</li>
        <li>an axel for the "wheels" to roll freely around,</li>
        <li>and static spacers attached to the axel between each "wheel" and one on each end.</li>
    </ul>
    <p>This wheel would allow for movement of the wheel while maintaining a static axel, with the hope that a further
        piece could be designed to fit around the axel to both protect the wheels from flipping, and also enable the
        wheel to be mounted to a solid object, whether it be a piece of wood or something else 3D printed.
    </p>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a3/plant stand.JPG" class="projectImage"
            alt="A large white diagram showing Grasshopper components, color coded with which items are inputs." />
    </div>
    <span class="centerCaption">Plant stand from Daiso, upside down to view the wheels.</span>
    <p>
        I started by listing out the pieces I would need: 3 tubes to become wheels, 4 small cylinders to become the
        static spacers, and 1 long cylinder to be the axel. I based their measurements on my existing plant stand wheels
        with some rounding for easier math.</p>
    <ul>
        <li>Wheels: 30mm outer diameter, 8mm inner diameter, 5mm depth</li>
        <li>Spacers: 10mm diameter (must be larger than 8mm so they hold the wheels apart), 3mm depth</li>
        <li>Axel: 5mm diameter (smaller than the wheel diameter to allow for it to roll), 30mm depth (length),
            calculated by summing the necessary widths as well as adding some wiggle room for the wheels.</li>
    </ul>
    <p><b>Build Process</b>
    <ol>
        <li>After creating these pieces, I attached the end caps to the axel by moving the objects to eachother using
            object snap.
        </li>
        <li>I then used "Align" to align them concentrically (one of those trig words I learned from A2!)</li>
        <li>I then used the "Align" tool again to align the 3 wheels and 2 other spacers. </li>
        <li>Once concentrically around the axel, I
            spaced them out in the right order (end cap, wheel, spacer, wheel, spacer, wheel, end cap) and used the
            "Distribute" tool in the Z-plane to have all of the pieces space themselves out. Align and distribute are my
            favorite Powerpoint features, so using them was second nature.
        </li>
        <li>Finally I needed to join the static pieces into a single object rather
            than multiple intersecting objects. <a href="https://youtu.be/KAnQ31657dg">This video on merging faces</a>
            showed me to use the "Boolean Union" tool to bring the objects together.
        </li>
        <li>Finally, I grouped the wheel as a single entity so I wouldn't accidentally drag it apart.</li>
        <li>I built it in the Z-plane like a sandwich, but knew I needed to rotate it 90 degrees so it was laying
            sideways to limit the overhangs I would end up printing.
        </li>
    </ol>
    </p>

    <div class="centerFlexImages">
        <img src="/images/hcde533/a3/wheel rhino.png" class="projectImage"
            alt="A large white diagram showing Grasshopper components, color coded with which items are inputs." />
        <img src="/images/hcde533/a3/wheel rhino2.png" class="projectImage"
            alt="A large white diagram showing Grasshopper components, color coded with which items are inputs." />
        <img src="/images/hcde533/a3/wheel rhino3.png" class="projectImage"
            alt="A large white diagram showing Grasshopper components, color coded with which items are inputs." />
    </div>
    <span class="centerCaption">Plant stand from Daiso, upside down to view the wheels.</span>

</div>

<div class="groupedText">
    <p><b>Printing the Wheel</b>
        The biggest challenge was figuring out how to print the wheel to limit overhangs. Overhangs wasted PLA by
        requiring support structures which would need to be broken off after. There are multiple settings to toggle that
        can limit PLA usage and ease the "breaking off" process at the end of the print, yet a preview in Cura can only
        show so much
    </p>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a3/wheel cura.png" class="projectImage"
            alt="A large white diagram showing Grasshopper components, color coded with which items are inputs." />
        <img src="/images/hcde533/a3/wheel fail 1.jpg" class="projectImage"
            alt="A large white diagram showing Grasshopper components, color coded with which items are inputs." />
        <img src="/images/hcde533/a3/wheel fail 2.jpg" class="projectImage"
            alt="A large white diagram showing Grasshopper components, color coded with which items are inputs." />
        <img src="/images/hcde533/a3/wheel fail 3.jpg" class="projectImage"
            alt="A large white diagram showing Grasshopper components, color coded with which items are inputs." />
    </div>
    <span class="centerCaption">First iteration preview of the wheel: Standard quality, 0.8mm wall thickness, wall line
        count of 2, supports everywhere, support pattern of lines and density of 8% for easier breakage.<br />
        At some point near the mid-early stage of the print, a failure occurred and pulled away part of the wheel. The
        wheel that remained was mostly satisfactory, so I toggled the settings a bit for the next try.<br />
        However, I did find that the support structures were very challenging to break off for the successful part of
        the print.</span>

    <div class="centerFlexImages">
        <img src="/images/hcde533/a3/wheel cura2.png" class="projectImage"
            alt="A large white diagram showing Grasshopper components, color coded with which items are inputs." />
        <img src="/images/hcde533/a3/wheel print 2a.jpg" class="projectImage"
            alt="A large white diagram showing Grasshopper components, color coded with which items are inputs." />
        <img src="/images/hcde533/a3/wheel print 2b.jpg" class="projectImage"
            alt="A large white diagram showing Grasshopper components, color coded with which items are inputs." />
        <img src="/images/hcde533/a3/wheel print 2c.jpg" class="projectImage"
            alt="A large white diagram showing Grasshopper components, color coded with which items are inputs." />
        <img src="/images/hcde533/a3/wheel print 2d.jpg" class="projectImage"
            alt="A large white diagram showing Grasshopper components, color coded with which items are inputs." />
    </div>
    <span class="centerCaption">Second iteration preview of the wheel: Standard quality, 0.8mm wall thickness, wall line
        count of 2, supports everywhere, support pattern of lines and density of 8% for easier breakage (all the same as
        above). Turn on
        spiralize contour for smoothness. Increased density from 10% to 20% to try and slow the nozzle to the wheel as
        it moves. Change infill pattern from Lines to Concentric.<br />
        The print did not fall apart in the printer this time! But even with increased density, the spiralized seemed to
        weaken the object while creating extra supports. However, the supports at the bottom of the wheel where it
        touched the bed remained very challenging to break off without breaking the wheel (as I ended up doing.)</span>
</div>