<H1>A4 - Subtractive Manufacturing with the Bantam CNC Mill</H1>


<div class="groupedText">
    <p><b>Prompt</b> Design a box that can be interlocked together in some way and then mill the box out of FR1 material
        using the Bantam CNC Mill.
    </p>
</div>
<div class="groupedText">
    <p>
        <b>Designing Boxes with Grasshopper the Hard Way</b>
        Why do something the easy way when you can over engineer it the hard way? I attended class remotely this week
        and did not have a chance to gauge the scale of the material and machinery I would be working with until I went
        to the makerspace. As a result, I did not want to <i>box</i> (haha, get it?) myself into a specific sized box or
        design. I felt Grasshopper would be a great way to address this problem so that once I have my material picked
        out, I can create a box of any size.
    </p>
    <p>
        I first started with a square for which I could toggle the width/height. This square would be a face for which I
        would cut 6 of to make a cube. I then created rectangular "slots" with a toggleable width (the depth of the
        material) and height that
        I would use for the interlocking pieces of the box.<br />
        Rather than designate how many slots I wanted on each side of the square, I decided it would be better for the
        number of slots to be auto-determined by the space I wanted between each slot. I drafted a rough equation for
        how I would calculate that.<br />
        <i>b</i> = desired space between slots<br />
        <i>w</i> = square width<br />
        <i>G</i> = Height of slot + <i>b</i><br />
        <i>N</i> = Number of slots = Floor(<i>w</i>/ <i>G</i>)<br />
        This calculates the total number of possible slots and their space between for the given square size. Because we
        calculate the slot size and their space between, we must subtract one of the spaces "between" since there will
        be a slot at the end that is not followed by another slot.<br /><br />
        I then needed to calculate the distance between the corner of the square and the slots, which I did with<br />
        Distance from corner to first slot = (<i>w</i>-(<i>N*</i><i>G</i>- <i>b</i>))/2<br />
        <br />
        Because I was planning on making the slots symmetrical on the edge, I would divide the remaining space not taken
        up by the slots by 2.
    </p>
    <p>
        After coming up with this equation, I moved the first slot on a side into its desired location and then used a
        linear array with the count of <i>N</i> and the distance of <i>G</i> to programatically create the slots down
        the side.
    </p>
    <p>
        I then moved the slots across the square by shifting by <i>w</i> and then rotated and moved them again, finally
        each side of the square had slots.
    </p>
    <p>
        The dogbones were much more challenging since they had to be manipulated seperately from the slots sinc they
        were only needed on inner corners. I followed roughly the same placement approach as the slots, except I did so
        with 2 small circles, for which the radius can be toggled.
    </p>
    <p>
        With all the pieces in place, I was then stuck in "Trim" Hell. Very fitting for the spooky season. It took
        several approaches to trimming regions and rejoining to end with all the required lines.<br />
        I trimmed the "cut in" slots and the "cut out" slots from the square seperately, which ended up with curves that
        overlapped eachother. I then had to "explode" the curves and used
        <a href="https://parametricbydesign.com/grasshopper/how-tos/remove-duplicate-curves/">this tutorial</a>
        on finding duplicate line segments so I could remove the dupes. On top of that, the segments needed to be
        appropriately flattened before they could be marked as dupes--something I debugged all by myself!<br />
        Finally I trimmed the dogbones out using that new joined curve of the slotted square.<br />
        I think of everything, this part can be simplified somehow.<br />
        Green indicates inputs, yellow indicates annotations, blue indicates slots/tabs, and pink indicates dogbones.
    </p>
    <div class="centerFlexImages">
        <a href="/images/hcde533/a4/cube grasshopper.png" title="Larger Grasshopper Image, click to expand"><img
                src="/images/hcde533/a4/cube grasshopper.png" class="projectImage"
                alt="A large white diagram showing Grasshopper components, color coded with which items are inputs." /></a>
        <img src="/images/hcde533/a4/grasshopper demo.gif" class="projectImage"
            alt="animated gif of a square with slots and tabs being resized in rhino" />
    </div>
    <span class="centerCaption"><a href="/images/hcde533/a4/boxes with slots.gh">Grasshopper File download</a></span>
</div>

<div class="groupedText">
    <p>
        <b>KiCAD</b>
        To mill, I needed to export my Rhino files into DXF files of the cutting path and engraving paths. I then
        imported these paths into KiCAD as User.Drawings (engravings) and Edge.Cuts (cutting paths). KiCAD could then
        plot my files into Gerber files that the Bantam mill would understand as machine code. I had to take care to
        ensure I was importing/exporting the correct layers so the machine would cut and engrave properly, something I
        had trouble with that I'll share below.
    </p>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a4/kicad import.png" class="projectImage"
            alt="Screenshot of the kicad import panel" />
        <img src="/images/hcde533/a4/kicad design.png" class="projectImage"
            alt="Screenshot of the imported cut and engraving designs in kicad" /><img
            src="/images/hcde533/a4/kicad plot.png" class="projectImage" alt="Screenshot of the kicad plot panel" />
    </div>
    <span class="centerCaption">KiCAD interface<br /></span>
    <p>
        The KiCAD conversion process generates several files that need to be accounted for.
    <ul>
        <li> <a href="/images/hcde533/a4/kicad/kicad.kicad_pcb">KiCAD pcb file</a></li>
        <li> <a href="/images/hcde533/a4/kicad/kicad.kicad_pro">KiCAD pro file</a></li>
        <li> <a href="/images/hcde533/a4/kicad/kicad-Edge_Cuts.gbr">KiCAD Edge Cuts GBR file</a></li>
        <li> <a href="/images/hcde533/a4/kicad/kicad-User_Drawings.gbr">KiCAD User Drawings GBR file</a></li>
        <li> <a href="/images/hcde533/a4/kicad/kicad-job.gbrjob">KiCAD job GBRjob file</a></li>
    </ul>
    </p>
</div>

<div class="groupedText">
    <p>
        <b>Milling with Bantam</b>
        After procuring the Gerber files, I brought them into Bantam.<br />
        I first opened the User Drawing file as the top layer and then loaded in the Edge Cuts file as the outline. This
        part led to a lot of drama that you can read below.<br />
        Following this, I then ensured I was using a 1/32" flat end mill tool.<br />
        In the material set up, I input the width, height, and depth of the material I'd be milling through
        (100x70x1.4mm). I then stuck two FR1 boards together and measured the difference of their combined thickness to
        the single board to find the Z-offset for the material. I try to minimize offsetting the material X and Y to
        save material and instead place the board as close to the edge of the platform as possible<br />
        However, I <i>do</i> set a minor plan offset of 2x2x0mm as a sanity check that the mill won't run off the edge
        of the material.<br />
        Finally, since we are working with only our single mill tool, I ignore the warning that says marked areas need a
        smaller tool and go to mill!
    </p>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a4/bantam import files.png" class="projectImage"
            alt="Screenshot of the bantam import panel" />
        <img src="/images/hcde533/a4/bantam initial setup.png" class="projectImage"
            alt="Screenshot of the bantam initial setup" />
        <img src="/images/hcde533/a4/bantam material setup.png" class="projectImage"
            alt="Screenshot of the bantam material setup" />
        <img src="/images/hcde533/a4/bantam plan offset setup.png" class="projectImage"
            alt="Screenshot of the bantam plan offset setup" />
        <img src="/images/hcde533/a4/bantam sample.png" class="projectImage"
            alt="Screenshot of the bantam milling set up" />
    </div>
    <span class="centerCaption">KiCAD interface</span>
    <p>
        In the mill, I sandwich 2 pieces of FR1 with double sided tape, so that if the tool goes completely through my
        top later, it won't hurt the platform and instead hit my second piece of material. I then stick the material to
        the platform with more double sided tape. I did not have any issues with my pieces coming up because I used a
        <i>lot</i> of tape.
    </p>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a4/milled9.jpg" class="projectImage"
            alt="Bantam mill milling FR1. Dust is all over the machine," />
        <img src="/images/hcde533/a4/milled4.jpg" class="projectImage"
            alt="Sheet of FR1 milled to show 6 closely placed squares with slots and circles" />
        <img src="/images/hcde533/a4/milled3.jpg" class="projectImage"
            alt="The milled square faces with slots and circles, taken out of the FR1 sheet" />
    </div>
    <p>
        Milling designs with lots of engravings slows down the machine and creates a lot of extra dust, but as long as
        everything is aligned right, the process completes without issue.
    </p>
</div>

<div class="groupedText">
    <p>
        <b>Challenges</b>
    <ul>
        <li>
            When creating a dedicated shape to fit together, as opposed to just generic polygons that can be stacked in
            any which way, the slots and tabs need to be offset from one another on opposite sides, rather than
            identical to each other. I was first replicating designs from A1 and A2 before realizing my cube wouldn't
            have any way to fit together if I did not offset my slots.
        </li>
        <li>
            FR1 is very solid, not cardboard or paper that I'm used to working with. Tabs and slots of a precise size
            may fit together in theory, even with dogbones, but they need a little more space to be placed into their
            desired spot. I milled tabs and slots of exactly 4mm each but they wouldn't fit into eachother. I had to
            change my design to have tabs of 4mm each and slots of 4.5 mm each.The pieces <i>then</i> fit together.
        </li>
        <li>
            Working with a small milling tool is challenging since you need to accomodate for the short neck length of
            the tool. Larger tools will be placed entirely in the collet and have enough of a head to mill properly, but
            the 1/32" tool needed to be inserted only part way so that about an inch sticks out. This extra space leaves
            room for you to scratch your material more or miss your material by not moving down far enough in the Z
            plane (for which I did both.)
            <div class="centerFlexImages">
                <img src="/images/hcde533/a4/milled8.jpg" class="projectImage"
                    alt="Milled piece of FR1 with a large scrape through the middle." />
            </div>
            <span class="centerCaption">Mill dragged itself across my material while homing.</span>
        </li>
        <li>
            Tiny lines and tiny shapes are not always feasible to mill, at least with the tools we have on hand. All my
            lines milled properly but many of my overlapping engraved designs looked terrible when engraved with the
            1/32" head.
            <div class="centerFlexImages">
                <img src="/images/hcde533/a4/milled6.jpg" class="projectImage"
                    alt="Milled piece of FR1 with sloppy round cuts." />
            </div>
            <span class="centerCaption">My pretty digital circles looking ugly in meatspace. I ended up simplifying my
                design to improve the cutting.</span>
        </li>
        <li>
            Double sided tape is a nightmare. I hurt my fingers trying to pry apart my pieces and ended up destroying
            multiple pieces of FR1 in the process. This process isn't friendly for running test cuts because you can't
            take off your pieces to look at them without destroying your material in the process.
        </li>
        <li>
            Milling is not hard as a concept, but is mostly limiting by your milling tools (our class is going to
            completely destroy the mill at this rate, breaking so many pieces), and your milling material.
        </li>
        <li>
            The Bantam software for loading in engravings versus cuts is not very straightforward. I struggled with
            getting Bantam to recognize my cuts as single cuts rather than hatches. As a result, my first cuts were
            milled out multiple times and the slots and tabs were trimmed away too much to fit together.
            <div class="centerFlexImages">
                <img src="/images/hcde533/a4/milled7.jpg" class="projectImage"
                    alt="Milled squares sitting next to a slice of FR1. The squares have mild cuts on the edges but would not fit together." />
            </div>
            <span class="centerCaption">Note the very large slots and very small tabs on these squares.</span>
        </li>
    </ul>
    </p>
</div>

<div class="groupedText">
    <p>
        <b>Final Design</b>
        20mm by 20mm cube fit together by roughly 4mm slots and tabs. Parametric circles dot each side. The sides fit
        together snuggly in most places but variations in the material seems to make them sit slightly askew in spots.
    </p>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a4/milled0.jpg" class="projectImage"
            alt="Milled cube sitting on a table, slightly offset from a corner" />
        <img src="/images/hcde533/a4/milled1.jpg" class="projectImage"
            alt="Milled cube being held straight on to see one of its faces" />
        <img src="/images/hcde533/a4/milled2.jpg" class="projectImage"
            alt="Milled cube being held, slightly offset from a corner" />
    </div>
    <p>
        I'd like to try again and perfect this process and my design, but I'm limited by millable materials and the bits
        used in the machine. Out of about 10, only 2 were left to work with when I tried. By class time, I suspect there
        will be 0 working.
    </p>
</div>

<div class="groupedText">
    <p><b>Other Resources</b>
    <ul>
        <li>
            <a href="https://www.youtube.com/watch?v=d4YaxYLOUTQ">Understanding layers in Rhino</a>
        </li>
        <li>
            <a
                href="https://support.bantamtools.com/hc/en-us/articles/115001658954-Unmillable-Area-Warnings-Bridged-Traces-and-Skipped-Holes">Bridges
                and Traces Millable Warnings</a>
        </li>
        <li>
            <a href="https://www.youtube.com/watch?v=PUloel1cK2k">Repeatable Circle Patterns with Grasshopper</a>
        </li>
        <li>
            Jisu, Junchao, Minah, Petrina, and Danli were all very helpful (or attempted to be)
            while I was debugging.
        </li>
    </ul>
    </p>
</div>