<H1>A5 - Getting Meshy - Playing with Meshes in Rhino</H1>

<div class="groupedText">
    <p><b>Prompt</b> Modify the mesh of two STLs to produce a single printable STL. You may use whatever STLs you want,
        e.g. downloaded from Thingiverse or elsewhere! When exporting the STL from Rhino, it should pass all checks for
        rapid prototyping.
    </p>
</div>

<div class="groupedText">
    <p><b>Inspiration</b>
    </p>
</div>

<div class="groupedText">
    <p><b>Process</b>
    </p>
</div>

<div class="groupedText">
    <p><b>Final Design</b>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a5/mewtwo render1.png" class="projectImage"
            alt="Milled cube sitting on a table, slightly offset from a corner" />
        <img src="/images/hcde533/a5/mewtwo render2.png" class="projectImage"
            alt="Milled cube being held straight on to see one of its faces" />
    </div>
    <span class="centerCaption">caption</span>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a5/mewtwo render3.png" class="projectImage"
            alt="Milled cube being held, slightly offset from a corner" />
        <img src="/images/hcde533/a5/mewtwo render4.png" class="projectImage"
            alt="Milled cube being held, slightly offset from a corner" />
    </div>
    <span class="centerCaption">caption</span>
    </p>
</div>

<div class="groupedText">
    <p><b>Files</b>
    </p>
</div>