<H1>A5 - Getting Meshy - Playing with Meshes in Rhino</H1>

<div class="groupedText">
    <p><b>Prompt</b> Modify the mesh of two STLs from Thingiverse to produce a single, printable STL.
    </p>
    <p>
        <a href="#/hcde533/a6" title="A6 Lamps">Looking for lamps? I've combined all lamp reports into A6.</a>
    </p>
</div>

<div class="groupedText">
    <p><b>Inspiration</b>
        I love Pokemon! Luckily, so do many Thingiverse users. I wanted to do something with a Pokemon mesh. In class we
        did a demo of placing a character onto a platform, but that seemed too basic. I wanted to create a Pokemon
        performing some attack move.<br />
        How about Mewtwo using his signature attack, Shadowball?
    <div class="centerFlexImages">
        <img src="/images/hcde533/a5/mewtwo shadowball tvshow.jpg" class="projectImage"
            alt="A picture of Mewtwo from the Pokemon TV show." />
    </div>
    <span class="centerCaption"><a
            href="https://www.theclick.gg/gaming/games/pokemon/pokemon-bdsp-mewtwo-guide-pokedex-location-moveset-evolution/">Image
            source</span>
    </p>
</div>

<div class="groupedText">
    <p><b>Process</b>
        I first started by picking out a Mewtwo model from Thingiverse. There were <i>several</i> to choose from, but I
        selected one at random which happened to be <a href="https://www.thingiverse.com/thing:4534736"
            title="Mewtwo on Thingiverse">Mewtwo from Super Smash Bros on the WiiU</a>.
    </p>
    <p>
        I then went to find some type of magic-ball-attack type shape. I searched for "fireball" on Thingiverse and was
        thrilled to find <a href="https://www.thingiverse.com/thing:4093429" title="Fireball model on Thingiverse">this
            fireball file</a>.
    </p>
    <p>
        I imported both STL models into Rhino and was surprised to find Mewtwo so small, roughly the same size as the
        fireball. However, I noticed the fireball was extremely intricate as a mesh, so I opted to size it down rather
        than size up the Mewtwo. I used the "scale" function to decrease the fireball size to some arbitrary amount that
        would "fit" into Mewtwo's hand.
    </p>
    <p>
        However, I noticed that the fireball was still extremely intricate with an upwards of 90,000 polygons. For both
        computing power and possible printing, I wanted to decrease the polygones. I used "ReduceMesh" multiple times,
        checking the quality of the render each time before processing it again, bringing the count down to around
        10,000. I then used "QuadRemesh" which reduced the polygon count by changing the mesh type, but lost a bit of
        fidelity. I toggled these settings until I found a fidelity and polygon count I was happy with.<br />
        Mewtwo was fine so I did not immediately look at reducing his polygons.
    </p>
    <p>
        Both meshes were already closed when I downloaded them, and after manipulating, they remained closed. I put the
        fireball into Mewtwo's hand and then joined the two meshes using "MeshBooleanUnion". When placing the fireball,
        I took care to ensure it was in Mewtwo's hand in a reasonable manner--Mewtwo wouldn't likely be "holding" a
        Shadowball attack moreso as he would be creating it within his palm, so I tried to place the fireball around his
        hand accordingly. Unfortunately, that means post-print processing of this model may not be easy.
    </p>
    <p>
        Once together, I tried manipulating the polygon count of the complete mesh again, using "Reduce Mesh" and
        "QuadRemesh", as I found that merging meshes ends up processing them back to triangular-polygon meshes. Knowing
        that "QuadRemesh" loses a bit of fidelity on the mesh, frequently changing the mesh type ends up degrating the
        model. In the end, I think I like the triangular-polygon mesh best for this model, but I could probably afford
        to continue reducing the mesh of the fireball, since the most important features are the fidelity of Mewtwo, not
        the attack.
    </p>
    <p>
        I also tried fiddling with different features of the model such as changing Mewtwo's tail placement but found
        the process overall not worth the effort--this might be something better done in Blender or Maya since I'm
        already dealing with a closed mesh with lots of organic curves. <br />
        <a href="#/hcde533/a6" title="A6 Lamps">See my lamp for working with more calculated curves and creation of
            meshes.</a>
    </p>
</div>

<div class="groupedText">
    <p><b>Resources</b>
        Most of the process we explored in class, so I only consulted a few external resources.
    <ul>
        <li><a href="https://www.youtube.com/watch?v=k-aNDs9zTDY" title="How to apply color in Rhino model"> Rhino 3D
                CAD Technique #5 - How to Apply Color on Rhino Model</a></li>
        <li><a href="https://www.thingiverse.com/thing:4534736" title="Mewtwo on Thingiverse">Mewtwo SSB Wii U</a></li>
        <li><a href="https://www.thingiverse.com/thing:4093429" title="Fireball model on Thingiverse">Meteor / Fireball
                spell/particle</a></li>
    </ul>
    </p>
</div>

<div class="groupedText">
    <p><b>Final Design</b>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a5/mewtwo render1.png" class="projectImage"
            alt="2 renderings of Mewtwo holding a fireball." />
        <img src="/images/hcde533/a5/mewtwo render2.png" class="projectImage"
            alt="2 renderings of Mewtwo from the back holding a fireball." />
    </div>
    <span class="centerCaption">Mewtwo, I choose you! In the first picture, QuadRemesh Mewtwo is on the left. On the
        second
        picture, QuadRemesh is on the right. Note how Mewtwo's angry face disappears on the softer quad remesh of the
        model.</span>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a5/mewtwo render3.png" class="projectImage"
            alt="A rendering of Mewtwo's hand holding a fireball, but the finger details are missing." />
        <img src="/images/hcde533/a5/mewtwo render4.png" class="projectImage"
            alt="A rendering of Mewtwo's hand holding a fireball." />
    </div>
    <span class="centerCaption">Close up of Mewtwo's hand holding the fireball. The first is the QuadRemesh model, and
        you can see how he loses his finger details and is holding the fireball by its flames--not very
        realistic.</span>
    </p>
</div>


<div class="groupedText">
    <p><b>Files</b>
    <ul>
        <li><a href="/images/hcde533/a5/mewtwo.stl">Mewtwo STL</a></li>
        <li><a href="/images/hcde533/a5/fireball.stl">Fireball STL</a></li>
        <li><a href="">Mewtwo with Shadowball STL</a></li>
        <li><a href="">Mewtwo with Shadowball Rhino File</a></li>
    </ul>
    </p>
</div>