<H1>A6 - Lamp Design</H1>

<div class="groupedText">
    <p><b>Prompt</b> Create and assemble a lamp around lamp innerds. You should be able to remove the lamp from the
        innerds, so your lamp (on the innerds) should not rely on glue or other fasteners.
    </p>
</div>

<div class="groupedText">
    <p><b>Inspiration & Idea</b>
        I've always loved the 3D printed lamp assignment. Classmates and colleagues from years past have always created
        such beautiful pieces. But now for my turn, how can I create something beautiful, yet not done before, yet also
        rings true to me personally? I wanted to create something organic looking with curves playing with gravity. I
        initially toyed with a lava-lamp type design, but that felt cliche.<br />
        Then I thought more about nature, specifically, fish! I love fish scales, but how could I incorporate scales
        into a curvy design? Scales led me to think of chainmail, which is able to drape. Finally, I settled on my idea:
        a draped collection of scales designed to block the light from the outside but reflect the light from the
        inside.
    </p>
</div>

<div class="groupedText">
    <p><b>Sketch</b>
        I initially drew a sketch of the silhouette I wanted for this hanging lamp and then moved backwards from there.
        The scales would drape over an opaque, ball-shaped lampshade that would fit onto the lamp innerds. The top of
        the inner ball shade would have keyhole slots that the scales would fit into and hang from. Similarly, each
        scale would have its own keyhole for the next scale to hook into. The scales would not touch the lamp innerds
        and would instead be left to hang freely.<br />
        Each scale is scale-shaped (lol) like a tear drop. The top point of the scale would have a skinny neck that
        curves upwards and ends with a ball. This skinny neck and ball would allow the scale to lock into a
        keyhole.<br />
        Each scale would have a piece of mirror material in a semi-circle shape glued onto it. These mirrors would be
        what reflected the light of the lamp.<br />
        Finally, the lamp would be asymetrical in how the scales laid upon it, such that light could escape across from
        the scales.<br />
        I would 3D print these scales and then laser cut the mirror material.
    <div class="centerFlexImages">
        <img src="/images/hcde533/a6/sketch.jpg" class="projectImage"
            alt="Rough sketch of lampshade on graph paper outlining scale design and plans for the light" />
    </div>
    <span class="centerCaption">Sketch</span>
    </p>
</div>

<div class="groupedText">
    <p><b>Scale Iteration</b>
        Becoming familiar with Rhino, I opted to focus more on the scale creation for this lamp rather than the
        underneath ball-shade which was already something I had played with. The scales would be more complex and would
        require more design time.
    </p>
    <p>
        <b>Iteration 1</b>
        My biggest concern was not knowing how to build the shape I wanted in Rhino. I wanted to sweep on multirails yet
        Rhino only has a "Sweep 2 Rails" function, so I went on a hunt to consume Rhino material and learned much of
        what I wanted from <a href="https://www.youtube.com/watch?v=Jo0_aLHlzHM"
            title="Make this signet ring with Rhino 3D CAD">this video on how to make signet rings.</a> This video
        introduced me to Rhino's "Network Surface" function, as well as using layers and mirroring in an effective
        manner.<br />
        As such, my first iteration of the scale was made using ellipses and the "Network Surface" function, along with
        some sloppily dragged lines and endpoints. I started with an ellipse as the base, then creating another ellipse
        as the "nose" of the scale and using that and some bounding lines as the network to sweep as essentially a
        "multi-rail sweep". I closed the "nose" of the scale with "Rail Revolve" like the designer did in the tutorial,
        generating a rail in a 360 manner.<br />
        I then created the ball with a sphere and used "Boolean Union" to join it to the point of the scale. I created a
        keyhole with a rectangle and circle that I joined and then extruded. I used "Boolean Difference" to cut it out
        of the shape. I did this in a very rough manner because I wanted a quick test print to test my idea and get a
        better grasp on sizes.
    <div class="centerFlexImages">
        <img src="/images/hcde533/a6/iteration1/0.png" class="projectImage"
            alt="Screenshot of a rhino rendering of the bounding lines for the scale." />
        <img src="/images/hcde533/a6/iteration1/2.png" class="projectImage"
            alt="Screenshot of the rhino rendering of the scale." />
        <img src="/images/hcde533/a6/iteration1/1.png" class="projectImage"
            alt="Screenshot of the rhino top view of the scale." />
    </div>
    <span class="centerCaption">Rhino renderings of the first iteration of scales</span>
    </p>
    <p>To test the ability for the scales to hang, I printed 3 at a time for my first print, which came out a little
        askew and peeled off my printer poorly. I used a standard print setting on Cura. The print took several hours to
        complete--way longer than I wanted.<br />
        [pics here of first iteration print]
    </p>
    <p><b>Iteration 2 & 3</b>
        Having a better grasp of sizes of the scales after my print, I decided to target a <i>rough</i> size of 20mm by
        30mm, sizing down my scales substantially. I also calculated that I wanted the ball of each scale hook to be
        <i>roughly</i> 10mm off the base vertically, and I also wanted the keyhole to be inwards from the bottom of the
        scale by about 10mm. This was all found by using my calipers and comparing the size of my prints to a rough idea
        of what I wanted it to be, knowing that again I'd just be continuing to iterate.<br />
        The curves on the edges of my scales printed very poorly and required support and excess print time, and
        ellipses were not fun to work with when you're only doing "rough" measurements, so I opted to redesign the
        scales with the "nose" as a rectangle.<br />
        I also created a rectangle near the back end of my scale, and a few in between following the form I wanted, and
        used "Tween Curve" on the rectangles with several points to get a rough image of my goal. I used these to snap
        to and build my lines around.<br />
        My goal was to create a bounding 3D "shell" to use "Network Surface" to give the object weight. To acheive the
        neck for the hook, I created circles with 10mm radius around my rectangles and then trimmed and joined them to
        create the arc. I measured I wanted the neck to be roughly 1.5mm thick, so I created a square of that size and
        then used "Orient on Curve" to drag multiple down the circle arc. I then created lines and more circles tangent
        to the square corners to give shape to the neck, cleaning up along the way.<br />
        I frequently used the ability to snap to various endpoints and move orthoganally to get everything positioned
        right. I made half the shape first and then mirrored it to the other side.<br />
        However, when I finally had my shape, I could not get Network Surface to work. My shapes were flipping all sorts
        of ways inside out. I studied how to use the command better and found you needed to be selecting lines in a
        certain order, but I was still struggling. I also tried sweeping and lofting, which got me some new results, but
        nothing I wanted.<br />
        Finally, I called Junchao (thank you!) who gave me a crash course on lofting and trimming. Long story short, I
        was just lofting the wrong lines! I also found that since Loft better suited my needs, I didn't need to make a
        frame on the "nose" of the shape for the network to sweep, so I was able to remove the rectangular "nose" for a
        smoother look. Following the loft, I was able to create my keyholes and then run
        my print,
        which moved <i>much</i> faster this time due to the easier geometry. (30 minutes on dynamic quality instead of 4
        hours on standard quality)
    <div class="centerFlexImages">
        <img src="/images/hcde533/a6/iteration2/0.png" class="projectImage"
            alt="Screenshot of a rhino rendering of the bounding lines for the scale." />
        <img src="/images/hcde533/a6/iteration2/1.png" class="projectImage"
            alt="Screenshot of the rhino rendering of the scale." />
        <img src="/images/hcde533/a6/iteration2/2.png" class="projectImage"
            alt="Screenshot of the rhino top view of the scale." />
        <img src="/images/hcde533/a6/iteration2/3.png" class="projectImage"
            alt="Screenshot of the rhino top view of the scale." />
        <img src="/images/hcde533/a6/iteration2/4.png" class="projectImage"
            alt="Screenshot of the rhino top view of the scale." />
    </div>
    <span class="centerCaption">Rhino renderings of iteration 2</span>
    </p>
    <p>
        Iteration 2 was mostly a success! I had just forgotten that the printer can only print so thin and my design
        tested that limit. My tiny scales were successfull, but very fragile and a little bit too small. The hooks
        wouldn't fit nicely into the keyholes due to the fragile necks and the keyhole being too thin for the size.
        [images of iteration 2 here]
    </p>
    <p>
        For iteration 3, I didn't change much of my design. I made the scales slightly longer to allow for more mirror
        space, I increased the neck thickness to avoid them snapping, and I changed the depth of each scale from 1 to
        3mm. I changed the keyhole to accomodate the new necksize and then some, since iteration 2 was too tight.
    <div class="centerFlexImages">
        <img src="/images/hcde533/a6/iteration3/1.png" class="projectImage"
            alt="Screenshot of a rhino rendering of the bounding lines for the scale." />
        <img src="/images/hcde533/a6/iteration3/0.png" class="projectImage"
            alt="Screenshot of the rhino rendering of the scale." />
    </div>
    <span class="centerCaption">Rhino renderings of iteration 3</span>
    </p>
    <p>
        However, printing was not so kind this time. I opted to print 9 of my scales to see how they hang together,
        confident based on iteration 2's print. With a 4 hour print job at dynamic settings, I let the print run over
        night. The next morning, my print had shifted crooked! I assumed it was a fluke and ran the print again. This
        time, the culrpit was obvious: one of my clips to hold the tempered glass bed had come off and the bed was being
        dragged around by the nozzle. I fixed the clips and added another to hold to the bed. Third time was a charm and
        I finally got my prints!
        [pictures of the print]
    </p>
    <p><b>Iteration 4</b> will be coming soon! The plan is to increase size a bit more to leave more room for the
        mirror, shrink the keyhole a smidge, and do a test run of the inner lampshade with "spider like" flanges to hold
        it in place.</p>
</div>

<div class="groupedText">
    <p><b>Final Design</b>
        Coming soon!
    </p>
</div>


<div class="groupedText">
    <p><b>Files</b>
    <ul>
        <li><a href="/images/hcde533/a6/iteration1/iteration1.3dm">Scale Iteration 1 .3dm</a></li>
        <li><a href="/images/hcde533/a6/iteration1/scale0.stl">Scale Iteration 1 .STL</a></li>
        <li><a href="/images/hcde533/a6/iteration2/iteration2.3dm">Scale Iteration 2 .3dm</a></li>
        <li><a href="/images/hcde533/a6/iteration2/iteration2.stl">Scale Iteration 2 .STL</a></li>
        <li><a href="/images/hcde533/a6/iteration3/iteration3.3dm">Scale Iteration 3 .3dm</a></li>
        <li><a href="/images/hcde533/a6/iteration3/iteration3.stl">Scale Iteration 3 .STL</a></li>
    </ul>
    </p>
</div>

<div class="groupedText">
    <p><b>Resources</b>
    <ul>
        <li><a href="https://www.youtube.com/watch?v=Jo0_aLHlzHM">Signet rings in Rhino</a></li>
        <li><a href="https://www.youtube.com/watch?v=EYwk_T1EaR8&t=181s">Sweeping a Curve in Rhino</a></li>
        <li><a href="https://discourse.mcneel.com/t/slide-along-curve/22762">Orient on Curve in Rhino</a></li>
        <li><a href="https://www.youtube.com/watch?v=feHI36PCo3E">Network Surface in Rhino</a></li>
        <li><a href="https://www.youtube.com/watch?v=KIDHOY6t-zw">Surfaces from Curves in Rhino</a></li>
        <li><a href="https://www.thingiverse.com/thing:649181">Scale Mail Armor on Thingiverse</a></li>
        <li><a href="https://www.thingiverse.com/thing:58372">Fish Scale Impact Vest on Thingiverse</a></li>
        <li><a href="https://www.thingiverse.com/thing:2437081">NASA Chainmail Fabric on Thingiverse</a></li>
        <li><a href="https://www.thingiverse.com/thing:2948282">Fish Scale (on fabric) on Thingiverse</a></li>
    </ul>
    </p>
</div>