<H1>A6 Part A - Lamp Design</H1>

<div class="groupedText">
    <p><b>Prompt</b> Create and assemble a lamp around lamp innerds. You should be able to remove the lamp from the
        innerds, so your lamp (on the innerds) should not rely on glue or other fasteners.
    </p>
    <p>
        <a href="#/hcde533/a6b" title="A6 Part B Molds">Looking for molds? Mold reports are in A6 Part B.</a>
    </p>
</div>

<div class="groupedText">
    <p><b>Inspiration & Idea</b>
        I've always loved the 3D printed lamp assignment. Classmates and colleagues from years past have always created
        such beautiful pieces. But now for my turn, how can I create something beautiful, yet not done before, yet also
        rings true to me personally? I wanted to create something organic looking with curves playing with gravity. I
        initially toyed with a lava-lamp type design, but that felt cliche.<br />
        Then I thought more about nature, specifically, fish! I love fish scales, but how could I incorporate scales
        into a curvy design? Scales led me to think of chainmail, which is able to drape. Finally, I settled on my idea:
        a draped collection of scales designed to block the light from the outside but reflect the light from the
        inside.
    </p>
</div>

<div class="groupedText">
    <p><b>Sketch</b>
        I initially drew a sketch of the silhouette I wanted for this hanging lamp and then moved backwards from there.
        The scales would drape over an opaque, ball-shaped lampshade that would fit onto the lamp innerds. The top of
        the inner ball shade would have keyhole slots that the scales would fit into and hang from. Similarly, each
        scale would have its own keyhole for the next scale to hook into. The scales would not touch the lamp innerds
        and would instead be left to hang freely.<br />
        Each scale is scale-shaped (lol) like a tear drop. The top point of the scale would have a skinny neck that
        curves upwards and ends with a ball. This skinny neck and ball would allow the scale to lock into a
        keyhole.<br />
        Each scale would have a piece of mirror material in a semi-circle shape glued onto it. These mirrors would be
        what reflected the light of the lamp.<br />
        Finally, the lamp would be asymetrical in how the scales laid upon it, such that light could escape across from
        the scales.<br />
        I would 3D print these scales and then laser cut the mirror material.
    <div class="centerFlexImages">
        <img src="/images/hcde533/a6/sketch1.jpg" class="projectImage"
            alt="Rough sketch that is unclear, but has the word 'mirror' written on it" />
    </div>
    <span class="centerCaption">First sketch in class--interrupting Junchao while he spoke so I could put the idea on
        paper before I lost it. Sorry Junchao.</span>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a6/sketch.jpg" class="projectImage"
            alt="Rough sketch of lampshade on graph paper outlining scale design and plans for the light" />
    </div>
    <span class="centerCaption">Sketch</span>
    </p>
</div>

<div class="groupedText">
    <p><b>Scale Iteration</b>
        Becoming familiar with Rhino, I opted to focus more on the scale creation for this lamp rather than the
        underneath ball-shade which was already something I had played with. The scales would be more complex and would
        require more design time.
    </p>
    <p>
        <b>Iteration 1</b>
        My biggest concern was not knowing how to build the shape I wanted in Rhino. I wanted to sweep on multirails yet
        Rhino only has a "Sweep 2 Rails" function, so I went on a hunt to consume Rhino material and learned much of
        what I wanted from <a href="https://www.youtube.com/watch?v=Jo0_aLHlzHM"
            title="Make this signet ring with Rhino 3D CAD">this video on how to make signet rings.</a> This video
        introduced me to Rhino's "Network Surface" function, as well as using layers and mirroring in an effective
        manner.<br />
        As such, my first iteration of the scale was made using ellipses and the "Network Surface" function, along with
        some sloppily dragged lines and endpoints. I started with an ellipse as the base, then creating another ellipse
        as the "nose" of the scale and using that and some bounding lines as the network to sweep as essentially a
        "multi-rail sweep". I closed the "nose" of the scale with "Rail Revolve" like the designer did in the tutorial,
        generating a rail in a 360 manner.<br />
        I then created the ball with a sphere and used "Boolean Union" to join it to the point of the scale. I created a
        keyhole with a rectangle and circle that I joined and then extruded. I used "Boolean Difference" to cut it out
        of the shape. I did this in a very rough manner because I wanted a quick test print to test my idea and get a
        better grasp on sizes.
    <div class="centerFlexImages">
        <img src="/images/hcde533/a6/iteration1/0.png" class="projectImage"
            alt="Screenshot of a rhino rendering of the bounding lines for the scale." />
        <img src="/images/hcde533/a6/iteration1/2.png" class="projectImage"
            alt="Screenshot of the rhino rendering of the scale." />
        <img src="/images/hcde533/a6/iteration1/1.png" class="projectImage"
            alt="Screenshot of the rhino top view of the scale." />
    </div>
    <span class="centerCaption">Rhino renderings of the first iteration of scales</span>
    </p>
    <p>To test the ability for the scales to hang, I printed 3 at a time for my first print, which came out a little
        askew and peeled off my printer poorly. I used a standard print setting on Cura. The print took several hours to
        complete--way longer than I wanted.<br />
    <div class="centerFlexImages">
        <img src="/images/hcde533/a6/iteration1/pic0.jpg" class="projectImage"
            alt="Photo of the printed scale from top view" />
        <img src="/images/hcde533/a6/iteration1/pic1.jpg" class="projectImage"
            alt="Photo of printed sale from side view" />
        <img src="/images/hcde533/a6/iteration1/pic2.jpg" class="projectImage"
            alt="Photo of printed scales hanging together" />
    </div>
    <span class="centerCaption">Iteration 1 scales, flat and hanging together.</span>
    </p>
    <p><b>Iteration 2 & 3</b>
        Having a better grasp of sizes of the scales after my print, I decided to target a <i>rough</i> size of 20mm by
        30mm, sizing down my scales substantially. I also calculated that I wanted the ball of each scale hook to be
        <i>roughly</i> 10mm off the base vertically, and I also wanted the keyhole to be inwards from the bottom of the
        scale by about 10mm. This was all found by using my calipers and comparing the size of my prints to a rough idea
        of what I wanted it to be, knowing that again I'd just be continuing to iterate.<br />
        The curves on the edges of my scales printed very poorly and required support and excess print time, and
        ellipses were not fun to work with when you're only doing "rough" measurements, so I opted to redesign the
        scales with the "nose" as a rectangle.<br />
        I also created a rectangle near the back end of my scale, and a few in between following the form I wanted, and
        used "Tween Curve" on the rectangles with several points to get a rough image of my goal. I used these to snap
        to and build my lines around.<br />
        My goal was to create a bounding 3D "shell" to use "Network Surface" to give the object weight. To acheive the
        neck for the hook, I created circles with 10mm radius around my rectangles and then trimmed and joined them to
        create the arc. I measured I wanted the neck to be roughly 1.5mm thick, so I created a square of that size and
        then used "Orient on Curve" to drag multiple down the circle arc. I then created lines and more circles tangent
        to the square corners to give shape to the neck, cleaning up along the way.<br />
        I frequently used the ability to snap to various endpoints and move orthoganally to get everything positioned
        right. I made half the shape first and then mirrored it to the other side.<br />
        However, when I finally had my shape, I could not get Network Surface to work. My shapes were flipping all sorts
        of ways inside out. I studied how to use the command better and found you needed to be selecting lines in a
        certain order, but I was still struggling. I also tried sweeping and lofting, which got me some new results, but
        nothing I wanted.<br />
        Finally, I called Junchao (thank you!) who gave me a crash course on lofting and trimming. Long story short, I
        was just lofting the wrong lines! I also found that since Loft better suited my needs, I didn't need to make a
        frame on the "nose" of the shape for the network to sweep, so I was able to remove the rectangular "nose" for a
        smoother look. Following the loft, I was able to create my keyholes and then run
        my print,
        which moved <i>much</i> faster this time due to the easier geometry. (30 minutes on dynamic quality instead of 4
        hours on standard quality)
    <div class="centerFlexImages">
        <img src="/images/hcde533/a6/iteration2/0.png" class="projectImage"
            alt="Screenshot of a rhino rendering of the bounding lines for the scale." />
        <img src="/images/hcde533/a6/iteration2/1.png" class="projectImage"
            alt="Screenshot of the rhino rendering of the scale." />
        <img src="/images/hcde533/a6/iteration2/2.png" class="projectImage"
            alt="Screenshot of the rhino top view of the scale." />
        <img src="/images/hcde533/a6/iteration2/3.png" class="projectImage"
            alt="Screenshot of the rhino top view of the scale." />
        <img src="/images/hcde533/a6/iteration2/4.png" class="projectImage"
            alt="Screenshot of the rhino top view of the scale." />
    </div>
    <span class="centerCaption">Rhino renderings of iteration 2</span>
    </p>
    <p>
        Iteration 2 was mostly a success! I had just forgotten that the printer can only print so thin and my design
        tested that limit. My tiny scales were successfull, but very fragile and a little bit too small. The hooks
        wouldn't fit nicely into the keyholes due to the fragile necks and the keyhole being too thin for the size.
    <div class="centerFlexImages">
        <img src="/images/hcde533/a6/iteration2/pic0.jpg" class="projectImage"
            alt="Photo of the printed scale from top view" />
        <img src="/images/hcde533/a6/iteration2/pic2.jpg" class="projectImage"
            alt="Photo of printed sale from side view" />
        <img src="/images/hcde533/a6/iteration2/pic1.jpg" class="projectImage"
            alt="Photo of printed scales hanging together" />
    </div>
    <span class="centerCaption">Iteration 2 scales, flat and hanging together.</span>

    </p>
    <p>
        For iteration 3, I didn't change much of my design. I made the scales slightly longer to allow for more mirror
        space, I increased the neck thickness to avoid them snapping, and I changed the depth of each scale from 1 to
        3mm. I changed the keyhole to accomodate the new necksize and then some, since iteration 2 was too tight.
    <div class="centerFlexImages">
        <img src="/images/hcde533/a6/iteration3/1.png" class="projectImage"
            alt="Screenshot of a rhino rendering of the bounding lines for the scale." />
        <img src="/images/hcde533/a6/iteration3/0.png" class="projectImage"
            alt="Screenshot of the rhino rendering of the scale." />
    </div>
    <span class="centerCaption">Rhino renderings of iteration 3</span>
    </p>
    <p>
        However, printing was not so kind this time. I opted to print 9 of my scales to see how they hang together,
        confident based on iteration 2's print. With a 4 hour print job at dynamic settings, I let the print run over
        night. The next morning, my print had shifted crooked! I assumed it was a fluke and ran the print again. This
        time, the culrpit was obvious: one of my clips to hold the tempered glass bed had come off and the bed was being
        dragged around by the nozzle. I fixed the clips and added another to hold to the bed. Third time was a charm and
        I finally got my prints!
    <div class="centerFlexImages">
        <img src="/images/hcde533/a6/iteration3/pic2.jpg" class="projectImage"
            alt="Photo of failed print job for iteration 3" />
        <img src="/images/hcde533/a6/iteration3/pic0.jpg" class="projectImage"
            alt="Photo of the printed scale from top view" />
        <img src="/images/hcde533/a6/iteration3/pic1.jpg" class="projectImage"
            alt="Photo of printed sale from side view" />
        <img src="/images/hcde533/a6/iteration3/pic3.jpg" class="projectImage"
            alt="Photo of printed scales hanging together" />
    </div>
    <span class="centerCaption">Iteration 3 scales, flat and hanging together.</span>
    </p>
    <p><b>Iteration 4 & 5</b>
        With the general shape, I tried changing around neck thickess and the ball shape at the end of the neck. I found
        that the neck often snapped when pulling the scales off the print bed, so I thickened it up a bit. I mostly
        manipulated points along the curve individually and then mirrored the results over.<br />
        I also felt the ball shape at the end of the neck had unecessary heft and could be trimmed down. I tried
        swapping the sphere for something with a flat bottom.<br />
        Since I was close to the final shape, I also started designing the inlet for the mirror component of the scales.
        I was planning on ordering 1/8th inch thick acrylic so I designed the shape I wanted and added a smidge more
        thickness than 1/8th inch to account for variance. I then used boolean difference to cut it out of the
        scale.<br />
        Now that my changes were becoming more granular and print times were taking longer, I tried rendering the fit of
        my scales together in Rhino to avoid wasting print time. This was very challenging since gravity would play a
        roll in holding the scales together. While I measured if the neck and head were the right size to fit into the
        holes, I did not explore if there was a way to toggle gravity in Rhino.
    </p>

    <p>Iteration 4 worked better with the neck and fit well digitally, but upon printing, the new style head was too
        small. The scales would fall out of eachother rather than hold in place.<br />
        [some pics here]</p>

    <p>Iteration 5 was my final iteration. I tweaked the neck some more and widened the head. The prints came out
        functional!<br />
        The neck and head were thicker and wider than I had originally envisioned, and I found it sort of hard to slide
        the pieces together, but after some finnagling, I found a process that worked, and the tighter fit meant that
        the scales weren't going to unhook any time soon!<br />
        [some pics here]
    </p>
</div>

<div class="groupedText">
    <p><b>Inner Lampshade</b>
        The inner lampshade was envisioned as a spherical shade with a cylinder on top that would have holes for the
        scales to hook into. After running so many prints, however, I decided to save plastic and time that I would not
        drape scales over the top of the shade as intended, and instead drape them only from the bottom.<br />
        The outlet at the end of my lamp cable and the plastic head of the lamp were of different sizes, so I used my
        calipers to measure the difference and create a hole in the top of the lampshade that allowed me to fit the plug
        and cable through but was too small for the head of the lamp.<br />
        I designed the initial spherical shape of the shade but then realized if I wanted to cover the lightbulb, I'd
        need to include measurements for that as well. By needing to increase the height of the sphere to include the
        bulb, I ended up creating a much larger sphere than originally expected.<br />
        The bottom of the lampshade also needed to be wide enough to allow the plastic header of the lamp and the bulb
        to slide into it, which initially gave me direction on where to slice the shade. I tried slicing the sphere at
        different heights to explore what it might look like before deciding on what became the final shape.<br />
        To create the shell shape of the lampshade, I did not realize "Shell" is a Rhino command, so I instead took the
        diameter of the sphere and subtracted what I wanted to be the width of the wall (4mm) and created a sphere with
        the diameter of that difference. I joined the shapes to create the form and then used "DupeFaceBorder" on the
        top opening of the shade to extrude upwards as a small neck.<br />
        For the keyholes, I used the same keyholes designed for the scales and placed them 5mm from the bottom of the
        shade and then spread them in a polar array around the sliced circle. I played with the numbers but 20 seemed
        about right. I originally toggled with the angle on these keyholes and I could have drawn them along the surface
        of the shade, but I decided since these would be cut through that the angle didn't matter much, so I extreuded
        them as they were and did a boolean difference to cut them from the shade.<br />
        [pics of the design]
    </p>
    <p>
        When slicing the shape in Cura, I was shocked when it said my print at the highest fidelity would take about 31
        hours. I went back to Rhino and tried a few different slices of the shade to see if less material would make the
        print faster, but ultimately the duration seemed to stem mostly from it being a sphere and requiring substantial
        inner supports. My different slices of the sphere only decreased the time by a few hours at most, so I decided
        to do the original plan anyways.<br />
        For the supports, I opted for a tree structure and decreased the support fill to 5% (from my usual 8%) to use
        less material and maybe go faster. I was going to be printing at the highest fidelity. I sent it off to the
        printer and crossed my fingers. If this failed, I would have to change the shade style completely due to
        time.<br />
        Luckily, the shade printed almost perfectly! I checked on it in its early stages and some of the smaller
        supports for the keyholes seemed iffy, but with the size of the print, I guess it was able to recover
        itself.<br />
        [pics of the design]
    </p>
</div>

<div class="groupedText">
    <p><b>Laser Cutting the Mirrors</b>
        I visited TAP Plastics in Bellevue to find some mirror acrylic. I usually buy from
        <a href="https://www.estreetplastics.com/Clear-Plexiglass-Acrylic-Sheets-1-8-Thick-s/27.htm">E Street
            Plastics</a>
        but the shipping time was not feasible for this project. I was able to get a 12x18 inch sheet cut at TAP for a
        mostly reasonable price. I also bought some neon highlighter green for funsies, and dug through their $1
        clearance bin for 12x12inch clear pieces.<br />
        Since I had already created the shape of the mirror cutout on Rhino for the scale, I was able to use the lines
        from that same shape. However, I was worried that the cuts wouldn't fit into the holes I created like when I
        milled my box for A4. I used the scale tool and created a DXF file including the shape at 100%, 99%, 98% and 95%
        size to cut and test with.<br />
        At the laser, I toggled different settings and found even the recommended settings for 1/8 inch acrylic wasn't
        strong enough to cut through in one pass! So instead I used it twice, and while it created a slightly larger
        slice with the kerf, the shapes came out like a dream. I used the laser at 100% power and 8% speed (recommended)
        at 600 DPI
        and ran it twice.<br />
        To my surprise (probably due to the kerf), the 100% sized pieces fit perfectly! So I prepared all the scaled
        versions for nothing.<br />
        [some pics of the test prints]
    </p>
    <p>
        I then loaded up around 100 of these shapes into a file and ran the cut twice. I left the protective paper on
        the mirror side of the acrylic to try and hold the pieces together and protect them from any smoke or debris. I
        also lasered them on the backside in hopes it would impact the mirror less.<br />
        But after 2 cuts, only about 20% of them fell free of the sheet like planned. Maybe the laser wasn't
        focused the whole way across? After taking the acrylic out of the machine, I noticed it was warped. I'm pretty
        sure it was flat when I started, though.<br />
        I spent time popping the other pieces out by hand and removing the excess with some little snippers. I wasn't
        going to get my ~100 pieces perfect, but I also likely wasn't going to need all 100 given the slow print time of
        my scales.<br />
        I used superglue to glue each piece into the divet on the scales. Most pieces fit snuggly without glue, but it
        made me feel better to use it, just in case.
        [print stuff]
    </p>
    <p>

    </p>
</div>

<div class="groupedText">
    <p><b>Final Design</b>
        After several hours of designing, printing, cutting, and gluing, I had a lamp! Is it the lamp I designed? Uhhhh
        sorta. But it was a valuable experience in time management and expectation management. And obviously I learned a
        ton, too.<br />
        [pics]
    </p>
</div>


<div class="groupedText">
    <p><b>Files</b>
    <table>
        <tr>
            <td>
                Scale Iteration 1
                <ul>
                    <li><a href="/images/hcde533/a6/iteration1/iteration1.3dm">Scale Iteration 1 .3dm</a></li>
                    <li><a href="/images/hcde533/a6/iteration1/scale0.stl">Scale Iteration 1 .STL</a></li>
                    <li><a href="/images/hcde533/a6/iteration1/scale0.gcode">Scale Iteration 1 G Code</a></li>
                </ul>
            </td>

            <td>
                Scale Iteration 2
                <ul>
                    <li><a href="/images/hcde533/a6/iteration2/iteration2.3dm">Scale Iteration 2 .3dm</a></li>
                    <li><a href="/images/hcde533/a6/iteration2/iteration2.stl">Scale Iteration 2 .STL</a></li>
                    <li><a href="/images/hcde533/a6/iteration2/scale1.gcode">Scale Iteration 2 G Code</a></li>
                </ul>
            </td>

            <td>
                Scale Iteration 3
                <ul>
                    <li><a href="/images/hcde533/a6/iteration3/iteration3.3dm">Scale Iteration 3 .3dm</a></li>
                    <li><a href="/images/hcde533/a6/iteration3/iteration3.stl">Scale Iteration 3 .STL</a></li>
                    <li><a href="/images/hcde533/a6/iteration3/scale2.gcode">Scale Iteration 3 G Code</a></li>
                </ul>
            </td>

            <td>
                Scale Iteration 4
                <ul>
                    <li><a href="/images/hcde533/a6/iteration4 and 5/iteration4.3dm">Scale Iteration 4 .3dm</a></li>
                    <li><a href="/images/hcde533/a6/iteration4 and 5/iteration4.stl">Scale Iteration 4 .STL</a></li>
                    <li><a href="/images/hcde533/a6/iteration4 and 5/scale3.gcode">Scale Iteration 4 G Code</a></li>
                </ul>
            </td>

            <td>
                Scale Iteration 5
                <ul>
                    <li><a href="/images/hcde533/a6/iteration4 and 5/iteration5.3dm">Scale Iteration 5 .3dm</a></li>
                    <li><a href="/images/hcde533/a6/iteration4 and 5/iteration5.stl">Scale Iteration 5 .STL</a></li>
                    <li><a href="/images/hcde533/a6/iteration4 and 5/scale4.gcode">Scale Iteration 5 G Code</a></li>
                    <li><a href="/images/hcde533/a6/iteration4 and 5/19 scales.gcode">19 Scales in a single print G
                            Code</a></li>
                </ul>
            </td>

            <td>
                Lamp Shade
                <ul>
                    <li><a href="/images/hcde533/a6/shade/shade iteration2.3dm">Lamp Shade .3dm</a></li>
                    <li><a href="/images/hcde533/a6/shade/shade iteration3.stl">Lamp Shade .STL</a></li>
                    <li><a href="/images/hcde533/a6/shade/shade iteration1.gcode">Lamp Shade G Code</a></li>
                </ul>
            </td>

            <td>
                Mirrors
                <ul>
                    <li><a href="/images/hcde533/a6/laser cut/mirrors in diff sizes.dxf">Different size mirrors .dxf</a>
                        (from Rhino)</li>
                    <li><a href="/images/hcde533/a6/laser cut/mirrors in diff sizes.svg">Different size mirrors .svg</a>
                        (to Inkscape)</li>
                    <li><a href="/images/hcde533/a6/laser cut/100percentsize.svg">Mirrors at 100% scale .svg</a></li>
                    <li><a href="/images/hcde533/a6/laser cut/100percentsize.pdf">Mirrors at 100% scale .pdf</a> (to
                        Epilog laser)</li>
                </ul>
            </td>
        </tr>
    </table>
    <ul>
        <li><a href="/images/hcde533/a6/iteration1/iteration1.3dm">Scale Iteration 1 .3dm</a></li>
        <li><a href="/images/hcde533/a6/iteration1/scale0.stl">Scale Iteration 1 .STL</a></li>
        <li><a href="/images/hcde533/a6/iteration2/iteration2.3dm">Scale Iteration 2 .3dm</a></li>
        <li><a href="/images/hcde533/a6/iteration2/iteration2.stl">Scale Iteration 2 .STL</a></li>
        <li><a href="/images/hcde533/a6/iteration3/iteration3.3dm">Scale Iteration 3 .3dm</a></li>
        <li><a href="/images/hcde533/a6/iteration3/iteration3.stl">Scale Iteration 3 .STL</a></li>
    </ul>
    </p>
</div>

<div class="groupedText">
    <p><b>Resources</b>
    <ul>
        <li><a href="https://www.youtube.com/watch?v=Jo0_aLHlzHM">Signet rings in Rhino</a></li>
        <li><a href="https://www.youtube.com/watch?v=EYwk_T1EaR8&t=181s">Sweeping a Curve in Rhino</a></li>
        <li><a href="https://discourse.mcneel.com/t/slide-along-curve/22762">Orient on Curve in Rhino</a></li>
        <li><a href="https://www.youtube.com/watch?v=feHI36PCo3E">Network Surface in Rhino</a></li>
        <li><a href="https://www.youtube.com/watch?v=KIDHOY6t-zw">Surfaces from Curves in Rhino</a></li>
        <li><a href="https://www.thingiverse.com/thing:649181">Scale Mail Armor on Thingiverse</a></li>
        <li><a href="https://www.thingiverse.com/thing:58372">Fish Scale Impact Vest on Thingiverse</a></li>
        <li><a href="https://www.thingiverse.com/thing:2437081">NASA Chainmail Fabric on Thingiverse</a></li>
        <li><a href="https://www.thingiverse.com/thing:2948282">Fish Scale (on fabric) on Thingiverse</a></li>
    </ul>
    </p>
</div>