<H1>A6 Part B- Molding & Casting - Fox Pattern Weight</H1>

<div class="groupedText">
    <p><b>Prompt</b> Create a 2-part silicon mold to used to cast other materials such as plaster, soap, wax, ice, or
        more. The mold must be created in Rhino and then 3D printed as a negative such that silicon can be poured into
        the form to create the final mold. Use this silicon mold to cast at least 4 identical parts.
    </p>
    <p>
        <a href="#/hcde533/a6" title="A6 Part A Lamps">Looking for lamps? I've combined all lamp reports into A6 part
            A.</a>
    </p>
</div>

<div class="groupedText">
    <p><b>Inspiration & Idea</b>
        I have done work with soap before and wanted to create a soap mold, but all my ideas only required a one-part
        mold.<br />
        Instead I turned my attention to some cute paperweights I could use for weighing down paper pattern pieces on my
        fabric for when I sew. I wanted something round and cute, so I settled on <a
            href="https://www.thingiverse.com/thing:3077576" title="Fox model on Thingiverse">this fox</a> from
        Thingiverse. (But I also have <a href="https://www.thingiverse.com/dodrio/collections/mold-ideas"
            title="Personal collection of things I want to cast">a collection of other items</a> that might be fun to
        cast later.)
    <div class="centerFlexImages">
        <img src="/images/hcde533/a6b/fox4.png" class="projectImage" alt="Fox rendering from the Thingiverse page" />
    </div>
    <span class="centerCaption"><a href="https://www.thingiverse.com/thing:3077576" title="Fox model on Thingiverse">Fox
            as seen from the Thingiverse page</a></span>
    </p>
</div>

<div class="groupedText">
    <p><b>Creating a seam line</b>
        To minimize post-processing, I wanted the seam to fall somewhere natural on the model, which meant I couldn't
        split it right down the middle. Instead, I wanted the seam to go down the side but follow the flow of the fox's
        body, meaning around its hips and around its tail. This created for a very interesting shape.<br />
        I did this by using the polyline tool to roughly draw the seam on one side of the fox, and then on the other
        side. I then turned on the Record History feature in Rhino and lofted the two lines so they sliced through the
        fox. I used the history feature to allow me to move the curves around and have the loft follow suit so I could
        make sure I was slicing through the correct parts in real time.<br />
        After some troubleshooting with the split feature, I turned the mesh of the fox into a polysurface by converting
        it from Mesh to Nurbs and then split it with my surface I created. Prior to converting to a polysurface, the
        geometry seemed too tough and my split function kept failing.

    <div class="centerFlexImages">
        <img src="/images/hcde533/a6b/fox0.png" class="projectImage"
            alt="Fox with a plane through the side of it from one angle." />
        <img src="/images/hcde533/a6b/fox1.png" class="projectImage"
            alt="Fox with a plane through the side of it from the opposite angle." />
        <img src="/images/hcde533/a6b/fox2.png" class="projectImage"
            alt="The fox with a plane through it next to a copy of each new split side of the fox." />
    </div>
    <span class="centerCaption">Slicing the fox with a plane from a pair of lofted lines I drew</span>
    </p>
</div>

<div class="groupedText">
    <p><b>Updating the model</b>
        At first glance I thought the model was mostly smooth, but after bringing it into Rhino, I noticed it had more
        features (like eyes and a nose) that I didn't want. So before I split it, I reduced the mesh of it multiple
        times to try and force some of the fidelity out. I then used quad remesh to make it smoother, as I found with my
        A5 mesh assignment.
    </p>

</div>

<div class="groupedText">
    <p><b>Designing the mold (was a nightmare)</b>
        Now that I had the fox split into 2 pieces, I needed to create the mold-negative (is that the word?) But I
        really struggled to wrap my head around how that would look. Danli posted a diagram for us in the class chat
        about the process, and I referred back to it frequently throughout this assignment.

    <div class="centerFlexImages">
        <img src="/images/hcde533/a6b/mold process.png" class="projectImage"
            alt="An edited diagram showing 4 steps to creating a mold the way we were asked to do for the assignment." />
    </div>
    <span class="centerCaption">Thank you Danli.</span>

    First I needed to create a ribbon offset of each half of the fox. However, I found the ribbon offset tool didn't
    work well with the seam being in 3D, so I attempted to make my own ribbon offset by duplicating the face edge,
    scaling it in 1D, manipulating the points independently, and then lofting that line to try and create the
    desired edge shape. Several hours later, though, I was in mesh hell and was ready to give up on my squiggly seam
    and just do something basic.

    <div class="centerFlexImages">
        <img src="/images/hcde533/a6b/fox3.png" class="projectImage"
            alt="Screenshot of multiple fox outlines nested inside eachother. One pair is lofted." />
    </div>
    <span class="centerCaption">Some of many different iterations of creating a loft for the fox's ribbon offset</span>

    Luckily I was able to connect with Junchao during office hours, who approached the problem the exact same way I
    did at first (that must mean I'm doing something right!) but after much hullaballoo, he met the same fate.<br />
    As we were reviewing the original model again, the idea dawned on him: we already had this surface slicing the
    pieces apart--why don't we just use that as the extended surface, rather than create a new offset? Genius!<br />
    From there, we stretched the plane wider and ensured it encompassed all pieces of the fox. Previously, the plane
    would clip the tail if extended, but Junchao showed me that I could turn points on for a surface and use those
    points to drag the surface around, which fixed the clipping issue. With the plane stretched wide, we then put a
    box around the fox (like Dr. Seuss haha) and sliced the box, removing the sliced edge of the fox and leaving
    only the front and back pieces. This was a piece I struggled with initially because I thought for Cura to print,
    the object needed to be fully attached to everything.

    <div class="centerFlexImages">
        <img src="/images/hcde533/a6b/fox7.png" class="projectImage" alt="X-ray view of a box showing a fox inside." />
    </div>
    <span class="centerCaption">Using the X-Ray view on all my screens to see inside the box.</span>

    Once in 2 pieces, I opted for a multipipe fitting across the edge of my mold. While most classmates are doing
    notches or spheres, I've had trouble using simple keys like that in the past, and with the jiggly
    nature of silicon, I wanted something that spanned the length of my mold rather than just a few notches.
    (However Junchao still recommended I use at least one sphere, which I think will help with orientation, so no
    harm.)
    <div class="centerFlexImages">
        <img src="/images/hcde533/a6b/fox6.png" class="projectImage"
            alt="Fox inside the box with a pipe around the edge." />
    </div>
    <span class="centerCaption">Fox in a box! Peep the multipipe.</span>

    Finally, my mold-negative was done! Or was it? I ended office hours with Junchao pleased with my mold, but then
    I was confused again--the object I was looking at was what the silicon mold would look like... not the negative
    of it. I needed to invert it. After much stressing I asked Junchao--the obvious answer was in plain sight: just
    delete the faces that are closing it in. (And then I also had to make new faces around it on the other side so
    it would sit flat in the printer.)<br />
    How can everything be so obvious yet so confusing at the same time? I love 3D fabrication--why can't I
    <i>think</i> in 3D?
    <div class="centerFlexImages">
        <img src="/images/hcde533/a6b/fox8.png" class="projectImage"
            alt="Two halves of the fox mold, except the fox is inverted such that this is what the silicon mold should look like." />
        <img src="/images/hcde533/a6b/fox9.png" class="projectImage"
            alt="Two halves of the fox mold where the fox is facing the right way such that this is what should be printed as the mold-negative" />
    </div>
    <span class="centerCaption">First: bad! Fox is the wrong way. Second: good! Fox is the right way.</span>

    </p>
</div>

<div class="groupedText">
    <p><b>Printing the mold negative</b>
        One of my classmates (I forget who, sorry!) posted in the chat about scaling her print piece down in Cura for a
        test run, so I wanted to do that to save time to insure my 2D brain was processing this 3D piece right. I also
        didn't realize you could scale things in Cura! So this was a great opportunity.<br />
        When I loaded in my mold-negative, on full size (~100mm x ~100mm) at highest quality, the print was going to
        take 3 days--yikes! Even after dropping quality settings and infills, I was looking at an over 24hr print job.
        However, I scaled it down to 35% in Cura, on low quality, with 8% infill, I was looking at about 2 hours of
        print time, which is more than fine since I'd be running it over night.<br />
        I levelled the bed and ran the print! (Side note, I see a lot of stress about bed levelling in the class chat. I
        level my bed essentially before every single print and I have had no issues.)<br />
        I very much prefer taking the extra time to run my prints in the highest fidelity, but knowing this is just a
        test run, I had no choice but to be satisfied with the outcome. My tiny mold printed out as expected.
    <div class="centerFlexImages">
        <img src="/images/hcde533/a6b/fox5.png" class="projectImage" alt="Screenshot of the mold shrunk down in Cura" />
        <img src="/images/hcde533/a6b/fox10.jpg" class="projectImage"
            alt="Photo of the two halves of the mold-negative, mini size" />
    </div>
    <span class="centerCaption">Cura and the mini print.</span>
    </p>
    <p>
        With the small print handy, I understood a little better about what pieces of the mold-negative I could cut off
        to reduce plastic, so I spent some time trimming down the pieces. However, the full print was still much too
        large and I ended up resizing it down to 70% in Cura. To speed up time and limit material (it was estimating
        about 200g of PLA!) I changed the infill to 8%, down from 20% since I had so much negative area due to the curvy
        model. I felt comfortable doing this since I knew this piece would barely be holding any weight.<br />
        After moving to printing, I was expecting a 24 hour print, but the pieces kept failing after a few hours. After
        examining the couple failed pieces, I went back to Cura to notice a few things.
    <ol>
        <li>
            Something was going on with the way Cura decided the pieces should be printed. I noticed one piece had a red
            bottom and the other had a blue, indicating that one was touching the build plate but the other wasn't. At
            first I thought it was an issue with how I exported them, so I went back to Rhino and made sure they both
            sat on the same Z plane. But Cura didn't seem to notice the fix. I then stepped through the print bit by bit
            and noticed Cura insisted on printing part of the first half before it started on the first layers of the
            second half. It didn't do this on my little print. Rather than debugging why it did that, I instead decided
            to export them one by one and do them individually, which fixed the problem. (I also helped Courtney with
            hers and I noticed hers was doing the same thing in Cura. Our prints were about the same size.)
        </li>
        <li>
            While stepping through the print, I noticed the inside of my print was trying to create layers in the air
            and supports weren't turned on automatically. I was struggling with the triple-negative concept of the mold,
            so I opted to turn on supports and figure out how it would impact the model later.
        </li>
    </ol>
    </p>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a6b/print0.jpg" class="projectImage"
            alt="Screenshot of the mold shrunk down in Cura" />
    </div>
    <span class="centerCaption">Spaghetti, anyone?</span>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a6b/print1.jpg" class="projectImage"
            alt="Screenshot of the mold shrunk down in Cura" />
    </div>
    <span class="centerCaption">Enhance. Enhance.</span>
</div>

<div class="groupedText">
    <p><b>Mold Making with Oomoo</b>
        Oomoo was fun to play with. I used Oomoo 30 (not food safe) that I ordered from Amazon. I mixed up the A and B
        in a 1:1 ratio by volume as instructed by the box and let it
        cure in my mold-negatives overnight. I had a tiny bit extra so I also poured into my mini mold-negative.
    </p>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a6b/casting7.jpg" class="projectImage"
            alt="Screenshot of the mold shrunk down in Cura" />
    </div>
    <p>
        Unfortunately, pulling the silicone out didn't go as desired. I first started with the mini mold to see what
        would happen. I did have some concern about the funky curvy shape of my mold-negative, especially after turning
        on inner supports as well. My concerns became reality as I gently tugged on my mini mold and the pieces down and
        out of sight refused to come out. I tried prying with a knife, a toothpick, and a chopstick, and it wouldn't
        budge. Eventually when I thought I had it, it ripped.
    </p>

    <div class="centerFlexImages">
        <img src="/images/hcde533/a6b/casting8.jpg" class="projectImage"
            alt="Screenshot of the mold shrunk down in Cura" />
    </div>
    <span class="centerCaption">Mini mold</span>
    <p>
        I ran into the same issue with my big mold. Eventually, I decided that since the silicone mold was supposed to
        be the reusable part and not my printed mold negatives, that I would crack them open to rescue the stuck
        silicone. This was surprisingly more challenging than expected--thank goodness I only printed at 8%
        thickness!<br />
        I used a coping saw I had on hand as well as the little snippies that came with my printer. With it open, I was
        also able to see that the inner supports
        caused a tiny hole in the silicone at the tip of the fox's tail.
    <div class="centerFlexImages">
        <img src="/images/hcde533/a6b/casting1.jpg" class="projectImage"
            alt="Screenshot of the mold shrunk down in Cura" />
    </div>
    <span class="centerCaption">Tools of the trade</span>
    Unfortunately I did rip one part of the mold, and I figured it wouldn't be too hard to fix. But I tried hot glue,
    masking tape, and electrical tape (water proof) before searching online to find that fixing a silicone mold involved
    more specialized chemicals that weren't worth it for this process. The rip in my mold was near the very top so I
    could gravity fit the broken piece and then hold everything together with pressure. #learning #growth mindset
</div>

<div class="groupedText">
    <p><b>Casting</b>
        I sandwiched my two halves together and then wedged the broken silicon bit into place. I used cardboard to hold
        it tight and then I masking-taped it together. Boy did that fail.<br />
        I mixed my hydrostone poorly and it was too wet, but I think even in the chunkiest consistency, my mold would
        have leaked. After dumping, remixing, and trying again, I finally got my mold tight enough. Due to the curvy
        nature of my mold, I needed up and down force as well as from the sides, so I put cardboard on 2 sides and the
        top and bottom, with a hole cut on top for pouring. I then secured it with <i>several</i> rubberbands.
    <div class="centerFlexImages">
        <img src="/images/hcde533/a6b/casting6.jpg" class="projectImage"
            alt="Screenshot of the mold shrunk down in Cura" />
        <img src="/images/hcde533/a6b/casting3.jpg" class="projectImage"
            alt="Screenshot of the mold shrunk down in Cura" />
    </div>
    After 2 successful hydrostone foxes with funky tails, I tried experimenting with putting things into the hydrostone.
    For my first attempt, I had a bunch of left over acrylic mirror shards from my lamp, so I dumped those in hoping
    that <i>some</i> would make their way to the surface. Not a single one did, but it helped me use less hydrostone, so
    that's a plus. For my final fox (since I was at the end of my hydrostone) I opted for glitter, which turned out
    about as expected.
    <div class="centerFlexImages">
        <img src="/images/hcde533/a6b/casting5.jpg" class="projectImage"
            alt="Screenshot of the mold shrunk down in Cura" />
        <img src="/images/hcde533/a6b/casting0.jpg" class="projectImage"
            alt="Screenshot of the mold shrunk down in Cura" />
    </div>
    </p>
</div>

<div class="groupedText">
    <p><b>Final Design</b>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a6b/casting4.jpg" class="projectImage"
            alt="Screenshot of the mold shrunk down in Cura" />
        <img src="/images/hcde533/a6b/casting5.jpg" class="projectImage"
            alt="Screenshot of the mold shrunk down in Cura" />
    </div>
    <span class="centerCaption">My skulk of foxes!</span>
    I might try creating candles next, but I'll have to stick the wick out the "bottom" of the mold since I pour into
    the fox from its base rather than its head. However, I think it won't be too messy compared to hydrostone because
    wax cures almost immediately. And to cure it even faster, I could put the mold in the freezer first. A project for
    another day!
    </p>
</div>


<div class="groupedText">
    <p><b>Files</b>
    <ul>
        <li><a href="/images/hcde533/a6b/fox.3dm">Fox .3dm</a> (is a mess to look at, but it's all there!)</li>
        <li><a href="/images/hcde533/a6b/fox mold.stl">Fox mold-negative .STL</a></li>
        <li><a href="/images/hcde533/a6b/fox back mold2.stl">Fox mold-negative .STL</a></li>
        <li><a href="/images/hcde533/a6b/fox front mold2.stl">Fox mold-negative .STL</a></li>
        <li><a href="/images/hcde533/a6b/fox mold.gcode">Fox mold-negative G Code (35% size)</a></li>
    </ul>
    </p>
</div>

<div class="groupedText">
    <p><b>Resources</b>
    <ul>
        <li><a href="https://www.thingiverse.com/thing:3077576">Fox on Thingiverse</a></li>
        <li><a href="https://www.designstrategies.org/rhino-how-to-split-curves-when-you-cant-extract-segments/">Extract
                sub curve</a></li>
        <li><a href="https://www.youtube.com/watch?v=KIDHOY6t-zw">Surfaces from Curves in Rhino</a></li>
        <li><a href="https://www.youtube.com/watch?v=Z-_O3VPVpcA">Naked Edge Repair</a></li>
        <li><a href="https://www.fictiv.com/articles/preparing-rhino-files-for-3d-printing">Naked Edges</a></li>
        <li><a href="https://stackoverflow.com/questions/24045063/how-do-i-convert-a-polysurface-to-a-mesh-in-rhino3d">Convert
                Polysurface to Mesh</a></li>
        <li><a href="http://www.intact-solutions.com/sns_documents/sns_v1/convert.htm">Convert a Mesh to a
                Polysurface</a></li>
        <li>Junchao Yang, Danli Luo, and Jessie Zhang</li>
        <li>Reverse resources: I helped Jessie Zhang and Courtney Hendricks so much with their molds that now I feel
            like an expert.</li>
    </ul>
    </p>
</div>