<H1>A7- Project Proposal - An exploration in material weights and fashion</H1>

Create a proposal pitch for your final project. Your pitch should include

a concept, including concept sketches, intended use case, context
a breakdown of tasks (e.g. CAD modelling, 3d printing, casting, finishing)
a timeline with contingency plans
a Bill of Materials with sourcing schedule

Your proposal can be for any digitally fabricated object. Your plan must include several of the techniques we learned in
class, e.g. Rhino, Grasshopper, Slicing, Printing, Casting, Rendering, etc.



<div class="groupedText">
    <p><b>Prompt</b> Create a concept with sketches that requires a collection of fabrication techniques to create.
        Include a contingency plan in case the project falls through. Also include a bill of materials and sourcing
        plan.
    </p>
</div>

<div class="groupedText">
    <p><b>Inspiration</b>
        Anouk Wipprecht and Iris van Herpen
    </p>
</div>

<div class="groupedText">
    <p><b>Idea</b>
        In HCDE 539, Physical Computing and Prototyping
    </p>

    <div class="centerFlexImages">
        <img src="/images/hcde533/a6b/fox0.png" class="projectImage"
            alt="Fox with a plane through the side of it from one angle." />
        <img src="/images/hcde533/a6b/fox1.png" class="projectImage"
            alt="Fox with a plane through the side of it from the opposite angle." />
        <img src="/images/hcde533/a6b/fox2.png" class="projectImage"
            alt="The fox with a plane through it next to a copy of each new split side of the fox." />
    </div>
    <span class="centerCaption">Slicing the fox with a plane from a pair of lofted lines I drew</span>
    </p>
</div>

<div class="groupedText">
    <p><b>Techniques</b>

    </p>
</div>

<div class="groupedText">
    <p><b>Bill of Materials</b>

    </p>
</div>