<H1>A7- Project Proposal - An exploration in digital fabrication in fashion</H1>

<div class="groupedText">
    <p><b>Prompt</b> Create a concept with sketches that requires a collection of fabrication techniques to create.
        Include a contingency plan in case the project falls through. Also include a bill of materials and sourcing
        plan.
    </p>
</div>

<div class="groupedText">
    <p><b>Inspiration</b>
        I've been a fan of <a href="http://www.anoukwipprecht.nl/gallery" title="Anouk Wipprecht Gallery">Anouk
            Wipprecht</a>'s work since I first saw
        her work in 2014 after her collaboration Volswagen in the International Motor Show in 2013. Her work was
        discursive and vaguely functional, leading me into the world of both fashion tech and better understanding of
        "high fashion" as an art form. She came back to my mind when I took HCDE 539, Physical Computing and
        Prototyping. I learned to use different electronics and solder things such that it could be combined into a
        garment, but I didn't have any further fabrication experience beyond working with fabric.
    </p>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a7/anouk0.jpg" class="projectImage"
            alt="3 female models wearing 3d printed futuristic looking outfits next to an Audi car." />
        <img src="/images/hcde533/a7/anouk1.jpg" class="projectImage"
            alt="A model wearing a 3d printed dress that looks human in its form but has spider legs protruding from around the model's shoulders" />
        <img src="/images/hcde533/a7/anouk2.jpg" class="projectImage"
            alt="A 3d printed fashion piece glowing on a model's chest. The picture is dark and only illuminated by the light of the piece." />
        <img src="/images/hcde533/a7/anouk3.jpg" class="projectImage"
            alt="A faceless model in a 3d printed dress with various curves and some lights on the back." />
    </div>
    <span class="centerCaption">Photos of Anouk's work from <a href="http://www.anoukwipprecht.nl/"
            title="Anouk Wipprecht">her website</a>.</span>
    <p>
        On the hunt for other artists using parametric designs in their work, I came across
        <a href="https://www.irisvanherpen.com/" title="Iris van Herpen">Iris van Herpen</a>, whose work is beautifully
        parametric and captures
        the human form in non traditional ways. As I dug deeper into her work, I was able to find videos of her use of
        Grasshopper and varioud methods of 3D printing that she used to build her dresses.
    </p>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a7/iris0.jpg" class="projectImage"
            alt="A model wearing a black and white dress that has long flowing pieces that appear like feathers trailing down from her waist." />
        <img src="/images/hcde533/a7/iris1.jpg" class="projectImage"
            alt="A model wearing a flowing white dress made of several parametric lines" />
        <img src="/images/hcde533/a7/iris2.jpg" class="projectImage"
            alt="A model wearing a black dress made of several parametric lines" />
        <img src="/images/hcde533/a7/grimes.jpg" class="projectImage"
            alt="Music artist Grimes wearing a dress designed by van Herpen" />
    </div>
    <span class="centerCaption">Photos of Iris van Herpen's work from <a href="https://www.irisvanherpen.com/"
            title="Iris van Herpen">her website</a>. Not sure where Grimes got the sword, though.</span>
    <p>
        I also learned about the growing world of meta fashion, using VR and AR to achieve fashionable and whimsicle
        looks that allow art to be gravity defining in ways not limited by the real world. For a bit I had been seeing
        content created with <a href="https://www.clo3d.com/en/">Clo 3D</a> software, which is somewhat of a smarter,
        fashion-focused CAD program that enables both designing and rendering for meta fashion as well as preparing
        real-life designs for distributing.
    </p>
    <p>
        In HCDE 539, <a href="https://saracagle.webflow.io/work/art-of-walking">I designed a pair of pants</a> that
        would take the wearer's walking as input to light up the pants as the wearer walked. Now I think it is about
        time the pants had a matching top, or at least a new creation in the same fashion line.
    </p>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a7/pants.gif" class="projectImage"
            alt="Animated gif of Sara wearing pants that flash blue as she moves." />
    </div>
</div>

<div class="groupedText">
    <p><b>Idea & Process</b>
        A wearable work of art designed digitally with Rhino and Grasshopper. This piece of work will be a top garment
        designed to drape over the wearer and connect around the neck. My contingency plan involves creating this
        garment in phases that each add on to eachother, meaning that completing the first phase will ensure a core
        deliverable.
    </p>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a7/sketch0.jpg" class="projectImage"
            alt="Color coded sketch of the garment, displaying 6 different parts broken into 4 different phases" />
        <img src="/images/hcde533/a7/sketch2.jpg" class="projectImage"
            alt="A color coded sketch of a sleeve with notes on the materials and process." />
    </div>
    <span class="centerCaption">Plan of attack</span>
    <p>
        <b>Phase 1</b> Create the parametric draping "sleeves" and neck/shoulder connection point. This will involve 3D
        printing the neck/shoulder connection point and laser cutting fabric that must first be designed in Rhino and
        Grasshopper. The sleeves will connect to the 3D connection point. The 3D printed components will be finished
        using a Dremel kit to smooth and clean edges.<br />
        Timeline:
    <ol>
        <li>
            11/23 to 11/25 - Begin designing in Rhino and Grasshopper the parametric pieces that will be cut into the
            fabric.
        </li>
        <li>11/24 to 11/25 - Design 3D printed connector, begin 3D printing iterations as soon as possible.</li>
        <li>
            11/25 to 11/27 - Continue 3D printing, take designs to laser cutter and first cut butcher paper before
            moving to cut the fabric.
        </li>
        <li>11/26 to 11/28 - Put the garment together and post process pieces for quality.</li>
    </ol>
    </p>
    <p>
        <b>Phase 2</b> Create the inner core of the garment, a draping collection of fabrics with 3D printed elements
        also designed parametrically in Rhino. This draping core will also connect to the same connection point as Phase
        1.<br />
        Timeline:
    <ol>
        <li>
            11/27 to 11/28 - Using initial parametric designs, design the core of the garment that will be laser cut.
        </li>
        <li>11/28 to 11/30 - Back to the laser cutter for the fabric.</li>
        <li>
            11/28 to 12/1 - Design the 3D printed elements for the core of the garment and print.
        </li>
        <li>12/1 to 12/2 - Put the garment together and post process pieces for quality.</li>
    </ol>

    </p>
    <p>
        <b>Phase 3</b> Design and print additional 3D accents on fabric and sewn into the garment. This phase will be
        more exploratory than the previous phases and will depend on how the garment hangs and looks in real life.
        <br />
        Timeline:
    <ol>
        <li>
            11/28 to 12/4 - Design and print accents.
        </li>
        <li>12/3 to 12/4 - Post process and combination of pieces.</li>
    </ol>
    </p>
    <p>
        <b>Phase 4</b> Integrate physical computing into the design by using Neopixel LEDs and a pulse monitor combined
        with a small computer chip to provide a further discursive aspect to the garment as lights within the core of
        the garment flash along with the wearer's pulse.
        <br />
        Timeline:
    <ol>
        <li>
            12/2 to 12/4 - Soldering computer chip together, exploring how lights would look on the fabrics.
        </li>
        <li>12/4 to 12/5 - Programming the lights to match the pulse using some older code I have previously written.
        </li>
    </ol>
    </p>
    <p>
        Reaching Phase 4 will depend on success on the previous phases. On 12/4 and 12/5, I will spend time recording
        demo footage and photos for this portfolio. 12/6 I will share with the class!
    </p>
</div>


<div class="groupedText">
    <p><b>Techniques</b>
    <ul>
        <li>
            3D printing - Creating a neck/shoulder piece that can support the top of the garment. 3D elements printed on
            fabric on the core of the garment.
        </li>
        <li>
            Laser cutting - Laser cutting paper and then fabric into their forms to be used on the garment.
        </li>
        <li>
            Grasshopper - Parametrically designing the 3D and laser cut elements. A collection of ellipses and other
            curves.
        </li>
        <li>
            Rhino - Digitally designing the parametric designs and the 3D designs. Will include mirroring, lofting along
            curves, slicing, and more.
        </li>
        <li>
            Working with Stock parts - Using stock parts such as buckles and straps that will impact the design of 3D
            printing such that they can be used together.
        </li>
        <li>
            Sewing - By hand to tack together layers of fabrics. Potentially by machine as well, depending on connection
            tests with the fabric and different adhesives.
        </li>
        <li>
            Physical Computing - A stretch goal of integrating a pulse sensor and LEDs into the garment. This will
            involve soldering and programming.
        </li>
    </ul>
    </p>
</div>

<div class="groupedText">
    <p><b>Bill of Materials</b> This part of the process makes me sad for my wallet. Sewing is already an expensive
        hobby, and 3D printing and physical computer are not cheap either. Provided products are things I already have
        on hand. Brick and mortar stores do not have a shipping schedule.
    </p>
    <table>
        <thead>
            <tr>
                <th>Phase</th>
                <th>Product</th>
                <th>Usage</th>
                <th>Price</th>
                <th>Shipping Schedule</th>
                <th>Source</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1<br></td>
                <td>Black and white tulle, 3-4 yards</td>
                <td>Lightweight accents and "invisible" base fabric</td>
                <td>~3$/yard</td>
                <td>N/A</td>
                <td>JOANN Fabrics/Provided</td>
                <td>Already have some scraps from other projects I can try out, but will need several yards of same
                    color.<br></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Black and white cotton or heavier fabric</td>
                <td>Main material for sleeves and top<br></td>
                <td>Up to $10/yard</td>
                <td>N/A</td>
                <td>JOANN Fabric/Provided</td>
                <td>Can't buy fabric without touching everything first. Cotton is cheapest so will probably pick
                    something in that area.<br></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Large roll of butcher paper</td>
                <td>Pattern drafting, mock-ups</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>Provided</td>
                <td>Microsoft has some at the Garage</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Dremel/Rotary Tool</td>
                <td>Post processing cleaning of 3D printed parts<br></td>
                <td>N/A</td>
                <td>N/A</td>
                <td>Provided<br></td>
                <td></td>
            </tr>
            <tr>
                <td>1</td>
                <td><a href="https://www.harborfreight.com/rotary-tool-accessory-set-276-piece-62440.html"
                        target="_blank" rel="noopener noreferrer">Accessory kit for Dremel/Rotary tool</a></td>
                <td>For cleaning fine details on 3D printed parts</td>
                <td>$20</td>
                <td>N/A</td>
                <td>Harbor Freight</td>
                <td>Black Friday sale on 11/25 has the hook up</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Sewing notions and accessories</td>
                <td>Fabric management</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>Provided</td>
                <td></td>
            </tr>
            <tr>
                <td>1</td>
                <td><a href="https://www.harborfreight.com/electrical/electrician-s-tools/soldering-guns-irons/30-watt-lightweight-soldering-iron-69060.html"
                        target="_blank" rel="noopener noreferrer">Soldering Iron</a></td>
                <td>Clean up of tulle edges, and soldering in phase 4</td>
                <td>$6</td>
                <td>N/A</td>
                <td>Harbor Freight/Provided</td>
                <td>Will use the tools at Microsoft, but may buy own if this requires excess travel</td>
            </tr>
            <tr>
                <td>2</td>
                <td>White PLA 2kg roll</td>
                <td>Collar/neck piece and 3D printed accents</td>
                <td></td>
                <td></td>
                <td>Amazon/elsewhere?</td>
                <td>I have about 400g of white PLA left to work with before I need another roll, so adding this to Phase
                    2; there are other black Friday sales now that I will double check prices on before purchasing,
                    since I might purchase other materials for personal use.</td>
            </tr>
            <tr>
                <td>3<br></td>
                <td>Black PLA 2kg roll</td>
                <td>3D printed accents<br></td>
                <td>N/A<br></td>
                <td>N/A</td>
                <td>Provided</td>
                <td></td>
            </tr>
            <tr>
                <td>4<br></td>
                <td><a href="https://www.adafruit.com/product/3458" target="_blank" rel="noopener noreferrer">Adafruit
                        Feather Arduino</a><br></td>
                <td>Computer for programming pulse monitor and lights</td>
                <td>$12.50</td>
                <td>Multiple options, Dec 1 for $15 or mystery via USPS for $6</td>
                <td>AdaFruit</td>
                <td>Need to double check this is the right controller and then buy ASAP<br></td>
            </tr>
            <tr>
                <td>4</td>
                <td><a href="https://www.amazon.com/WS2812B-Individual-Addressable-144Pixels-Non-Waterproof/dp/B09PBGZMNS/ref=sr_1_6?crid=2HYP3WT4VS5OR&keywords=neopixel&qid=1669161519&s=hi&sprefix=neopixel%2Ctools%2C132&sr=1-6"
                        target="_blank" rel="noopener noreferrer">Neopixels/individually addressable LEDs 1m</a></td>
                <td>Lights for showing heart rate</td>
                <td>$11.69</td>
                <td>Ships with Prime, by Nov 25</td>
                <td>Amazon</td>
                <td>Place near TAP plastics on the eastside sells materials if unable to get online</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Pulse Monitor</td>
                <td>Detecting heart rate to impact lighting<br></td>
                <td>$5-$15</td>
                <td></td>
                <td></td>
                <td>Ebay has the best prices but shipping time is slow. Still exploring</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Battery Pack</td>
                <td>For powering Arduino system</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>Provided</td>
                <td></td>
            </tr>
            <tr>
                <td>3,4<br></td>
                <td>Extra caffeine</td>
                <td>To power through</td>
                <td>$5-$20</td>
                <td>N/A</td>
                <td>McDonald's/Grounds Coffee Co/Provided</td>
                <td></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Soldering notions and cables</td>
                <td>For putting together the lights and arduino</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>Provided</td>
                <td>Should have some left from HCDE 539, if not, Microsoft will have</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Cellophane</td>
                <td>Use instead of tulle in some palces<br></td>
                <td></td>
                <td></td>
                <td>Amazon</td>
                <td>Can be cut on the Cricut vinyl cutter, do not cut in the laser</td>
            </tr>
            <tr>
                <td>5</td>
                <td><a href="https://www.amazon.com/Acrylic-Colored-Translucent-Iridescent-Painting/dp/B09XB9N96M/ref=sr_1_23?crid=1NCBG93XZPGN3&keywords=iridescent+acrylic&qid=1669161984&sprefix=iridescent+acrylic%2Caps%2C155&sr=8-23"
                        target="_blank" rel="noopener noreferrer">Iridescent acrylic sheets, 1mm thick</a>, 4 sheets
                </td>
                <td>Laser cut accents instead of 3D printed<br></td>
                <td>$15</td>
                <td>Ships with Prime, by Nov 24</td>
                <td>Amazon</td>
                <td></td>
            </tr>
            <tr>
                <td>5</td>
                <td>Cricut vinyl cutter</td>
                <td>For cutting cellophane, it's not safe in the laser</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>Provided</td>
                <td>Microsoft Garage has this</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="groupedText">
    <p><b>Arriving at the design (sketches)</b></p>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a7/sketch3.jpg" class="projectImage"
            alt="Rough sketches all over a page, no clear image" />
    </div>
    <span class="centerCaption">I wanted to start with a rib cage design, but fell into drawing loopy lines. Bottom
        right starting to take shape of the final idea.</span>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a7/sketch5.jpg" class="projectImage"
            alt="Up close sketch of the shoulder sleeve design" />
        <img src="/images/hcde533/a7/sketch6.jpg" class="projectImage"
            alt="Rough sketch of the front design with sleeves" />
    </div>
    <span class="centerCaption">Sleeves and collar taking shape</span>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a7/sketch4.jpg" class="projectImage" alt="Sketch of sleeve" />
    </div>
    <span class="centerCaption">Sleeve would probably look like this on flat fabric.</span>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a7/sketch7.jpg" class="projectImage" alt="Sketch of sleeve" />
    </div>
    <span class="centerCaption">Collar -> wings? Crossbody design, moving back toward rib cage again</span>
</div>

<div class="groupedText">
    <p><b>Arriving at the design (sketches)</b>
    <ul>
        <li>
            <a href="https://www.tablesgenerator.com/html_tables#">HTML table generator</a> because why do work when you
            don't have to?
        </li>
    </ul>
    </p>
</div>