<H1>A8 - An exploration in digital fabrication in fashion</H1>


<div class="centerFlexImages">
    <img class="projectImage" src="/images/hcde533/a7/sketch0.jpg" />
</div>
<span class="centerCaption">Original design</span>
<div class="centerFlexImages">
    <img class="projectImage" src="/images/hcde533/a8/final8.gif" />
    <img class="projectImage" src="/images/hcde533/a8/final7.gif" />
    <img class="projectImage" src="/images/hcde533/a8/final4.jpg" />
    <img class="projectImage" src="/images/hcde533/a8/final3.jpg" />
    <img class="projectImage" src="/images/hcde533/a8/final1.jpg" />
    <img class="projectImage" src="/images/hcde533/a8/final0.jpg" />
    <img class="projectImage" src="/images/hcde533/a8/final2.jpg" />
    <img class="projectImage" src="/images/hcde533/a8/final6.jpg" />
</div>
<span class="centerCaption">Final outcome</span>


<div class="groupedText">
    <p><b>Sleeves - Designing Parametrically with Grasshopper and Rhino</b> I used Grasshopper to parametrically create
        the elliptical patterns for each sleeve. I used the "InEllipse" component that creates an ellipse out of 3
        points. I then generated a toggleable amount of points around the X axis using the "expression" component that
        would be used to create my ellipses. I scaled the ellipses and offset the result to create a shape (rather
        than a single line) that could be cut with the laser. From there, I baked the geometry into Rhino.</p>
    <div class="centerFlexImages">
        <a href="/images/hcde533/a8/sleeve ellipses grasshopper.png" title="Click to see full size"><img
                class="projectImage" src="/images/hcde533/a8/sleeve ellipses grasshopper.png"
                alt="Screenshot of grasshopper definition for ellipse sleeves" /></a>
    </div>
    <span class="centerCaption"><a href="/images/hcde533/a8/files/sleeve.gh">Ellipse sleeve Grasshopper
            definition</a></span>
    <div class="centerFlexImages">
        <img class="projectImage" src="/images/hcde533/a8/sleeve shape rhino2.png" />
    </div>
    <span class="centerCaption">Ellipses baked into different layers to better evaluate where to trim</span>

    <br />
    <br />

    <p> In Rhino, I played around with different trimming styles to design the type of shape I wanted. Because all the
        ellipses were overlapping on one side, their segments needed to be trimmed out to create a coherent shape. I
        tested out two different cut styles: one with the ellipses cut without any overlapping segments such that the
        result would be flat, and another where the line segments extended beyond the cut ellipse, causing the ellipses
        to be more layered. The second approach better fit my design. I also used Rhino to create the buffer zones on
        the ellipses to allow room for the sleeves to be sewn to the printed neckpiece.</p>
    <div class="centerFlexImages">
        <img class="projectImage" src="/images/hcde533/a8/sleeve shape rhino0.png" />
    </div>
    <span class="centerCaption">Ellipses baked into different layers to better evaluate where to trim.</span>
    <br /><br />
    <p>Finally, I needed the design for the inner mesh for each sleeve. I broke the geometry into each ellipse and then
        used "TweenCurves" to get a middle curve to work with. I would use these middle curves directly for cutting the
        mesh.
    </p>

    <p><b>Sleeves - Laser Cutting with the Epilog</b> I cut several layers of fabric in the size of the laser bed and
        then headed to Microsoft's makerspace, The Garage. <br />
        I first used large sheets of butcher paper cut to the size of the laser bed to practice cutting the sleeve
        shapes. This was how I was able to gauge the length I wanted, the number of ellipses I wanted, as well as the
        cut style previously mentioned.</p>

    <div class="centerFlexImages">
        <img class="projectImage" src="/images/hcde533/a8/paperprototype0.jpg" />
        <img class="projectImage" src="/images/hcde533/a8/paperprototype6.jpg" />
    </div>
    <span class="centerCaption">In the laser: speed 45%, power 50%</span>
    <div class="centerFlexImages">
        <img class="projectImage" src="/images/hcde533/a8/paperprototype1.jpg" />
        <img class="projectImage" src="/images/hcde533/a8/paperprototype2.jpg" />
        <img class="projectImage" src="/images/hcde533/a8/paperprototype4.jpg" />
        <img class="projectImage" src="/images/hcde533/a8/paperprototype3.jpg" />
    </div>
    <span class="centerCaption">After cutting</span>
    <br />
    <br />
    <p>In Rhino, I prepared my cuts by drawing a 24x18in rectangle on a different layer and locking the layer. This
        would be the laser bed that I needed to fit within or splice between. Luckily I was able to fit individual cuts
        into a single copy of the bed--no splicing across cuts. I also used these bed outlines for exporting my
        geometries, particularly the mesh pieces, for which I needed to cut 20 total.</p>
    <div class="centerFlexImages">
        <img class="projectImage" src="/images/hcde533/a8/sleeve shape rhino1.png" />
    </div>
    <span class="centerCaption">Mesh pieces ready to export</span>
    <br /><br />
    <p>After paper prototyping and determining sizing, I tested with some scrap black cotton to hone the laser settings.
        The cotton sliced perfectly. Then I was able to move to my polyester sleeve fabric, which also cut
        without any issues.</p>
    <div class="centerFlexImages">
        <img class="projectImage" src="/images/hcde533/a8/blackfabric0.jpg" />
        <img class="projectImage" src="/images/hcde533/a8/blackfabric4.jpg" />
        <img class="projectImage" src="/images/hcde533/a8/blackfabric1.jpg" />
    </div>
    <span class="centerCaption">Cotton fabric and polyester suiting: speed 25%, power 30%</span>
    <br /><br />
    <p>However, the mesh tulle was much more challenging. I was prepared for issues of the mesh flying around due to
        the ventilation fan, so I used painter's tape to tape across the material. This held the fabric down, but the
        laser was too strong and ended up singeing the edges, ruining the shapes. I noticed that the areas taped however
        had a nice crisp edge. To fix the issue, I decided that since I would be taping the fabric anyways to weigh it
        down, I would just mask the entire sheets with painter's tape, which worked well enough. I had also tried some
        other
        techniques like sandwiching the material with butcher paper, but edges still ended up being singed.</p>
    <div class="centerFlexImages">
        <img class="projectImage" src="/images/hcde533/a8/tulle1.jpg" />
        <img class="projectImage" src="/images/hcde533/a8/tulle0.jpg" />
    </div>
    <span class="centerCaption">Entire piece of tulle in the bed masked off to avoid further burn marks: speed 45%,
        power: 25%</span>
    </p>

    <p><b>The Neckpiece - 3D Printing & Stock Parts</b> I originally intended for the collar of the garment to be a
        single printed piece around my shoulders, but that was too challenging as a solid plastic shape,
        so I tried breaking the design into 4 pieces that would fit together with 3/4in width strap. I had also
        purchased LED lights for the far-reaching Phase 4 of my project. I used my calipers to measure the width of LED
        strand such that it would fit within my collar print. My measurements worked like a charm.
    <div class="centerFlexImages">
        <img class="projectImage" src="/images/hcde533/a8/collar0.jpg" />
        <img class="projectImage" src="/images/hcde533/a8/collar1.jpg" />
        <img class="projectImage" src="/images/hcde533/a8/collar2.jpg" />
    </div>
    <span class="centerCaption">Three different collar iterations, two of them designed to slide the LED strip into the
        gap</span>
    <br /><br />

    <p>However, despite a handful of iterations on the collar shape, the design was functional but not pleasing to the
        eye. Since I was behind schedule and not planning on hitting Phase 4, I took a different route and removed the
        LED stock parts, despite their perfect fit. Instead, I moved on to my other idea: 3D printing a neckpiece design
        on black tulle. This would serve almost the exact same function as the original design. I needed something to
        wrap around my shoulders and allow the sleeves
        to be connected to it.<br /><br />

        I began experimenting printing rectangles on different pieces of fabric. Using Cura, I was able to set a
        post-processing script that allowed me to pause the GCode print at either a specific layer or a height so I
        could insert a piece of fabric. Since I was experimenting with different shapes and sizes, I opted for the layer
        choice. Pausing at layer 3 to 5 appeared to be ideal. I also found that printed designs were best flexible and
        visually appealing with a gap of about 0.8 to 1.5mm between each shape. Any smaller and it couldn't move well
        and any larger the design was not coherent.
    </p>
    <div class="centerFlexImages">
        <img class="projectImage" src="/images/hcde533/a8/fabric test print0.jpg" />
        <img class="projectImage" src="/images/hcde533/a8/fabric test print1.jpg" />

    </div>
    <span class="centerCaption">Early stages of printing on mesh</span>

    <br /><br />
    <p> I practiced printing with a thicker, wide-holed mesh as well as my tulle and both worked fine. Attaching the
        fabric to the printer was the most challenging part. I originally tried tape but the heated bed weakens the
        glue. Using binder clips to secure a large cut of fabric over the bed worked the best, as long as you handled
        the clips with care (while adding or removing a clip, the bed is prone to slipping and will throw off the print
        layers). Unfortunately this means wasting more fabric than desired, since the fabric needs to stretch all the
        way across the bed even though not all of it will be printed on.</p>

    <div class="centerFlexImages">
        <img class="projectImage" src="/images/hcde533/a8/fabric printing0.jpg" />
        <img class="projectImage" src="/images/hcde533/a8/printing on fabric.gif" />
    </div>
    <span class="centerCaption">Clamping down tulle for better layering</span>
    <div class="centerFlexImages">
        <img class="projectImage" src="/images/hcde533/a8/printing on fabric1.gif" />
    </div>
    <span class="centerCaption">Comparing types of printed shapes on fabric</span>

    <p>As I printed my pieces, I noticed that prints with small scales, such as my 3mm by 9.5mm rectangles, were
        <i>much</i> more likely to break. The bottoms of the rectangles stayed stuck to the bed while the
        scales popped off the top of the fabric. Due to lack of time to repeatedly reprint large pieces, I tried various
        post processing techniques to repair the broken scales such as using a low temp hot glue gun to
        hold the scales in place and then reattach the backs, or sewing another piece of tulle to the back to repair
        ripped
        mesh. Finally, I tried stopping the print twice, once at about 3 layers and again at about 6 layers,
        and placing pieces of tulle in between those layers. Then the print would have 2 pieces of fabric to provide a
        buffer from the bed in case the very bottom of the prints failed. This was successful and I used this technique
        for
        about half my prints.
    </p>

    <div class="centerFlexImages">
        <img class="projectImage" src="/images/hcde533/a8/print failure1.jpg" />
        <img class="projectImage" src="/images/hcde533/a8/print failure0.jpg" />
    </div>
    <span class="centerCaption">Repairing failed prints on fabric</span>
    </p>

    <p><b>The Neckpiece - Rhino and Grasshopper (Again)</b> To design the "scales" for 3D printing on fabric, I used
        Grasshopper to generate grids of different sized rectangles. After baking a design I liked, I would use the
        Rhino scale function to achieve different measurements (like the previously mentioned 1.5mm gap.)</p>
    <div class="centerFlexImages">
        <a href="/images/hcde533/a8/rectangular grid grasshopper.png" title="Click to see full size"><img
                class="projectImage" src="/images/hcde533/a8/rectangular grid grasshopper.png"
                alt="Screenshot of grasshopper definition for rectangular grid" /></a>
    </div>
    <span class="centerCaption"><a href="/images/hcde533/a8/files/shoulder fabric design rectangles.gh">Grasshopper file
            for creating a grid of rectangles</a></span>
    <br /><br />
    <p>For the piece that would wrap around my shoulder, I knew I'd need different shapes to flow in different ways to
        capture the curve of a shoulder. I first made a rough pattern of my shoulder by covering my shoulder and top of
        arm with masking tape. I then drew guidelines on it, such as a line across the top for
        the flat part and a curve around the round part of the shoulder. I took it off and measured those pieces
        flat to know which sizes I should target. This is a common technique for pattern drafting odd
        shapes.<br /><br />
        Back in Grasshopper, I knew I wanted something radial, so I created a circle and tried to draw various polygons
        within it to get the look I wanted. I finally ended up using the 2D "Radial" grid component with the circle and
        then building off the cells and points. This was the only way I was able to generate "rectangles" that were
        relatively sized around the circle without writing an expression. Using the "Distance" and "Larger Than"
        components, I was able to scale the rectangles to be larger the further away they are from the center of the
        circle. I baked the results into Rhino and did some refining to remove overlaps, straighten some lines, remove
        some pieces, and scale in different factors as I tested the print.</p>
    <div class="centerFlexImages">
        <a href="/images/hcde533/a8/radial grid grasshopper.png" title="Click to see full size"><img
                class="projectImage" src="/images/hcde533/a8/radial grid grasshopper.png"
                alt="Screenshot of grasshopper definition for radial shoulder piece" /></a>
    </div>
    <span class="centerCaption"><a href="/images/hcde533/a8/files/shoulder fabric design radial.gh">Grasshopper file for
            creating radial rectangles</a></span>
    <div class="centerFlexImages">
        <img class="projectImage" src="/images/hcde533/a8/shoulder shape.png" />
    </div>
    <span class="centerCaption">Iterations of the radial shoulder piece</span>

    <br /><br />
    <p>Closing in on the final, I decided I did not like the flat surface I was printing. I drew some curves and lofted
        them onto my print designs, both the rectangles and the radial grid. The curves added a nice dimension that was
        originally missing.</p>
    <div class="centerFlexImages">
        <img class="projectImage" src="/images/hcde533/a8/curved shape rhino.png" />
    </div>
    <span class="centerCaption"></span>
    <br /><br />
    <p>When creating the design that would replace the front part of the collar, I tried reusing the shoulder
        radial pieces, but the scale of the shape looked poor. Instead, I drew some circles and then scaled them to a
        shape based on
        my measurements across my collar bone. I then took a collection of my original rectangle pieces and used "Flow"
        to move them along
        the curve--I wish I had explored this option sooner! "Flow" automatically managed the relative size of the
        pieces as they moved around the curve. This front piece would be split into 3 pieces for printing,
        and then the back piece would be split into 2 down the middle. I finally had completed the design!</p>
    <div class="centerFlexImages">
        <img class="projectImage" src="/images/hcde533/a8/collar shape rhino.png" />
    </div>
    <span class="centerCaption">Flowing target and result</span>
    </p>

    <p><b>Putting it All Together - Sewing & Post Processing</b>

        The hardest part was attaching the tulle to the elliptical layers on the sleeves. Because I
        laser cut 20 pieces individually to size, I needed to attach each piece perfectly. I placed the black cut sleeve
        fabric on cardboard and stretched the ellipses out, pinning each to hold it firm. I then used Gorilla Spray
        Adhesive to spray it and added each layer one-by-one, starting with the smallest and stacking on top. This built
        the sleeves from the inside out, and they would be flipped over when worn. The adhesive was messy and not
        always strong enough, and I went over layers multiple times and tried re-pinning layers to encourage them to
        dry together. Were I to do this again, I would cut the tulle larger than needed, glue, and then go back and
        remove the excess by hand. In a perfect world, this attachment would be done by sewing machine, yet the laser
        allowed me to cut indescribably thin pieces of fabric that would get caught up in my machine.
    <div class="centerFlexImages">
        <img class="projectImage" src="/images/hcde533/a8/gluing4.jpg" />
        <img class="projectImage" src="/images/hcde533/a8/gluing7.jpg" />
    </div>
    <span class="centerCaption">Gluing by lantern light in the frigid garage</span>
    <p>After flattening the sleeves under heavy objects and then ironing them under
        a thin piece of cotton, I used a bit of hot glue to attach any remaining pieces of tulle that had come off. I
        originally planned to hand-sew problem areas, but the spray adhesive had made the fabric too thick to work with.
    </p>
    <div class="centerFlexImages">
        <img class="projectImage" src="/images/hcde533/a8/ironing.jpg" />
        <img class="projectImage" src="/images/hcde533/a8/wing.gif" />
    </div>
    <span class="centerCaption"></span>
    <br /><br />

    <p>After drying, the sleeves were hand-sewn to the shoulder pieces. The shoulder pieces were hand-sewn to the
        front and back collar pieces. The closure in the back was created by taking extra suiting fabric to bind the raw
        tulle edge and then sewing a hook and eye to it. (I wish I had laser cut the suiting fabric for this binding
        because it frayed terribly when I cut it. But the laser burns the edges perfectly to keep the fraying at bay.)
        As the 3D prints on tulle finished, I hand-sewed them together
        trimmed them one edge at a time.</p>
    <div class="centerFlexImages">
        <img class="projectImage" src="/images/hcde533/a8/sewing0.jpg" />
        <img class="projectImage" src="/images/hcde533/a8/sewing1.jpg" />
        <img class="projectImage" src="/images/hcde533/a8/sewing2.jpg" />
    </div>
    <span class="centerCaption">I used my adjustable
        mannequin, Nancy, to help me keep things aligned</span>
    <div class="centerFlexImages">
        <img class="projectImage" src="/images/hcde533/a8/nancy.jpg" />
    </div>
    <span class="centerCaption">Thanks for a fun quarter! From Sara and Nancy</span>
    </p>
</div>

<div class="groupedText">
    <p>
        <b>Tools Used</b>
    </p>
    <ul>
        <li>Epilog Laser Cutter</li>
        <li>Creality Ender 3 Pro 3D Printer</li>
        <li>Rhino & Grasshopper</li>
        <li>Cura</li>
        <li>White Tulle - 5 yards (not all used)</li>
        <li>Black Tulle - 3 yards (not all used)</li>
        <li>Black Polyester Suiting - 4 yards (not all used)</li>
        <li>White PLA for testing</li>
        <li>White Silky PLA for final printing</li>
        <li>Butcher paper</li>
        <li>Sewing notions & accessories</li>
        <li>Gorilla Spray Adhesive</li>
        <li>Low temp hot glue gun</li>
    </ul>
    <p>Many of the items on my <a href="https://sara-cagle.github.io/#/hcde533/a7">Bill of Materials</a> were not used
        because they were for further phases that I did not get to.
    </p>
</div>

<div class="groupedText">
    <p>
        <b>Files</b>
    <ul>
        <li>Sleeves Modeling <a href="/images/hcde533/a8/files/sleeve modeling.3dm">(Rhino)</a> <a
                href="/images/hcde533/a8/files/sleeve.gh">(Grasshopper)</a></li>
        <li>Black Sleeves Print <a href="/images/hcde533/a8/files/sleeve w cuts.dxf">(DXF)</a> <a
                href="/images/hcde533/a8/files/sleeve w cuts.svg">(SVG/Inkscape)</a> <a
                href="/images/hcde533/a8/files/sleeve w cuts.pdf">(PDF)</a></li>
        <li>White Tulle Sleeves Print <a href="/images/hcde533/a8/files/set1.dxf">(DXF 1)</a> <a
                href="/images/hcde533/a8/files/set1.svg">(SVG/Inkscape 1)</a> <a
                href="/images/hcde533/a8/files/set1.pdf">(PDF 1)</a> | <a href="/images/hcde533/a8/files/set2.dxf">(DXF
                2)</a> <a href="/images/hcde533/a8/files/set2.svg">(SVG/Inkscape
                2)</a> <a href="/images/hcde533/a8/files/set2.pdf">(PDF 2)</a> | <a
                href="/images/hcde533/a8/files/set3.dxf">(DXF 3)</a> <a
                href="/images/hcde533/a8/files/set3.svg">(SVG/Inkscape 3)</a>
            <a href="/images/hcde533/a8/files/set3.pdf">(PDF 3)</a>
            |
            <a href="/images/hcde533/a8/files/set4.dxf">(DXF 4)</a> <a
                href="/images/hcde533/a8/files/set4.svg">(SVG/Inkscape 4)</a> <a
                href="/images/hcde533/a8/files/set4.pdf">(PDF 4)</a>
        </li>
        <li>Fabric Print Modeling (including collar and shoulders) <a
                href="/images/hcde533/a8/files/fabric printing modeling.3dm">(Rhino)</a></li>
        <li>Shoulder Fabric Print Design (rectangle) <a
                href="/images/hcde533/a8/files/shoulder fabric design rectangles.gh">(Grasshopper)</a> <a
                href="/images/hcde533/a8/files/shoulder rectangular scales.stl">(STL)</a> <a
                href="/images/hcde533/a8/files/shoulder rectangular scales.gcode">(GCode)</a></li>
        <li>Shoulder Fabric Print Design (radial) <a
                href="/images/hcde533/a8/files/shoulder fabric design radial.gh">(Grasshopper)</a> <a
                href="/images/hcde533/a8/files/shoulder scales.stl">(STL)</a>
            <a href="/images/hcde533/a8/files/shoulder scales.gcode">(GCode)</a>
        </li>
        <li>Collar Fabric Print <a href="/images/hcde533/a8/files/front collar part 1.stl">(STL front part 1)</a> <a
                href="/images/hcde533/a8/files/front collar part 2.stl">(STL front part 2)</a> <a
                href="/images/hcde533/a8/files/front collar part 1 and 2.gcode">(GCode front
                part 1 & 2)</a> | <a href="/images/hcde533/a8/files/front collar part 3.stl">(STL front part 3)</a> <a
                href="/images/hcde533/a8/files/front collar part 3.gcode">(GCode front part 3)</a> | <a
                href="/images/hcde533/a8/files/back collar part 1.stl">(STL back
                part 1)</a> <a href="/images/hcde533/a8/files/back collar part 1.gcode">(GCode back
                part 1)</a>
            |
            <a href="/images/hcde533/a8/files/back collar part 2.stl">(STL back part 2)</a> <a
                href="/images/hcde533/a8/files/back collar part 2.gcode">(GCode back part
                2)</a>
        </li>
        <li>Original Collar Modeling <a href="/images/hcde533/a8/files/collar modeling.3dm">(Rhino)</a>
            <a href="/images/hcde533/a8/files/collar0.stl">(STL it. 1)</a> <a
                href="/images/hcde533/a8/files/collar0.gcode">(GCode
                it. 1)</a> | <a href="/images/hcde533/a8/files/collar1.stl">(STL it. 2)</a> <a
                href="/images/hcde533/a8/files/collar1.gcode">(GCode it. 2)</a>
            | <a href="/images/hcde533/a8/files/collar2.stl">(STL it. 3)</a> <a
                href="/images/hcde533/a8/files/collar3.gcode">(GCode
                it. 3)</a>
        </li>
    </ul>
    </p>
</div>

<div class="groupedText">
    <p>
        <b>Resources</b> I went through several iterations, and while many of these references didn't make their way
        into my final design, they helped push me along in some way.
    <ul>
        <li><a href="https://www.youtube.com/watch?v=wFnmDRfl10M">Rhino flow along curve</a></li>
        <li><a href="https://www.grasshopper3d.com/forum/topics/selecting-rectangle-points">Grasshopper select
                rectangle points</a></li>
        <li><a href="https://www.youtube.com/watch?v=7O9-eWcjOQ0">Grasshopper geometric tranformations</a></li>
        <li><a href="https://www.geeetech.com/blog/2018/02/3d-printing-on-fabric-is-easier-than-you-think/">3D
                printing on fabric</a></li>
        <li><a href="https://www.instructables.com/How-to-3D-Print-Onto-Fabric/">3D printing on fabric</a></li>
        <li><a href="https://www.youtube.com/watch?v=izKtAsdn24Y">Grasshopper creating pattern logic</a></li>
        <li><a href="https://www.youtube.com/watch?v=tPGSdsZoib4">Grasshopper attractor points</a></li>
        <li><a href="https://discourse.mcneel.com/t/split-list-of-coordinates-into-several-branches/51853">Grasshopper
                splitting coordinates into branches</a></li>
        <li><a href="https://www.grasshopper3d.com/forum/topics/split-divide-curve-at-specific-points">Grasshopper
                splitting curves</a></li>
        <li><a href="https://3dprinterly.com/how-to-use-cura-pause-at-height-a-quick-guide/">Cura pause at
                height</a>
        </li>
        <li><a href="https://discourse.mcneel.com/t/how-to-insert-a-picture/44440">Rhino insert a picture</a>
        </li>
        <li><a href="https://www.thingiverse.com/thing:1256452">Thingiverse bust of a woman (originally tried to
                use for modeling collar)</a></li>
        <li><a href="https://discourse.mcneel.com/t/snap-points-to-the-nearest/70968/3">Grasshopper snap point to
                nearest</a></li>
        <li><a href="https://www.grasshopper3d.com/forum/topics/find-point-of-intersection-of-two-curves">Grasshopper
                find intersection of two curves</a></li>
        <li><a href="https://discourse.mcneel.com/t/how-to-insert-a-picture/44440">Rhino insert a picture</a>
        </li>
        <li><a href="https://discourse.mcneel.com/t/scale-a-linear-array-to-a-set-distance/132677/3">Grasshopper
                scale an array to a set distance</a></li>
        <li><a href="https://discourse.mcneel.com/t/tan-tan-tan-ellipse/67352">Grasshopper tan tan tan
                ellipse</a>
        </li>
        <li><a href="https://www.youtube.com/watch?v=aBucmPd9R9I">Grasshopper ellipse</a></li>
        <li><a href="https://www.youtube.com/watch?v=hNr6jUyZMWo">Grasshopper if/then statements for dual
                gradients</a>
        </li>
        <li><a href="https://www.youtube.com/watch?v=X8w9s2hcHb0">Grasshopper data filtering and conditional
                operations</a>
        </li>
        <li><a
                href="https://modelab.gitbooks.io/grasshopper-primer/content/1-foundations/1-3/3_mathematics-expressions-conditionals.html">Grasshopper
                mathematic expressions</a>
        </li>
        <li><a href="https://www.youtube.com/watch?v=urAaYAd2Wms">Grasshopper intro to expressions</a>
        </li>
        <li><a href="https://www.youtube.com/watch?v=03K5e0KwQh8">Grasshopper list manipulation</a>
        </li>
        <li><a href="https://www.youtube.com/watch?v=uRPohPlDuzc">Grasshopper interpolating curves</a>
        </li>
        <li><a href="https://www.youtube.com/watch?v=jt_pqUCSZlM">Grasshopper interpolating curvers and NURB
                curves</a>
        </li>
        <li><a href="https://www.youtube.com/watch?v=Cb7py_dSS44">Grasshopper how to use Anemone</a>
        </li>
        <li><a href="https://www.youtube.com/watch?v=nljlzSv1yUc">Grasshopper loops with Anemone</a>
        </li>
        <li><a href="https://www.food4rhino.com/en/app/anemone#downloads_list">Anemone library</a>
        </li>
        <li><a href="https://youtu.be/JpykcHoEYGA">Sophy Wong Tested</a></li>
        <li>Junchao Yang, for helping me debug Grasshopper over Thanksgiving break</li>
    </ul>
    </p>
</div>