<H1>A8 - An exploration in digital fabrication in fashion</H1>


<div class="centerFlexImages">
    <img src="/images/hcde533/a7/sketch0.jpg" />
</div>
<span class="centerCaption">Original design</span>


<div class="groupedText">
    <p><b>Sleeves - Designing Parametrically with Grasshopper and Rhino</b> I used Grasshopper to parametrically create
        the
        elliptical patterns for each sleeve. I used the "InEllipse" component that creates an ellipse out of 3 points. I
        then generated a toggleable amount of points around the X axis using then "expression" component that would then
        be used to create my ellipses. I scaled the ellipses and offset the result to create a shape (rather than a
        single line) that could be cut with the laser. From there, I baked the geometry into Rhino.<br />
        <br />
        In Rhino, i played around with different trimming styles to design the type of shape I wanted. Because all the
        ellipses were overlapping on one side, their segments needed to be trimmed out to create a coherent shape. I
        tested out two different cut styles: one with the ellipses cut without any overlapping segments such that the
        result would be flat, and another where the line segments extended beyond the cut ellipse, causing the ellipses
        to be more layered. The second approach better fit my design. I also used Rhino to create the buffer zones on
        the ellipses to allow room for the sleeves to be sewn to the printed neckpiece.<br /><br />
        Finally, I needed the design for the inner mesh for each sleeve. I broke the geometry into each ellipse and then
        used "TweenCurves" to get a middle curve to work with. I would use these middle curves directly for cutting the
        mesh.
    </p>

    <p><b>Sleeves - Laser Cutting with the Epilog</b> I cut several layers of fabric in the size of the laser bed and
        then headed to Microsoft's makerspace, The Garage. <br />
        I first used large sheets of butcher paper cut to the size of the laser bed to practice cutting the sleeve
        shapes. This was how I was able to gauge the length I wanted, the number of ellipses I wanted, as well as the
        cut style previously mentioned.

    <div class="centerFlexImages">
        <img src="/images/hcde533/a8/paperprototype0.jpg" />
        <img src="/images/hcde533/a8/paperprototype6.jpg" />

    </div>
    <span class="centerCaption">In the laser</span>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a8/paperprototype1.jpg" />
        <img src="/images/hcde533/a8/paperprototype2.jpg" />
        <img src="/images/hcde533/a8/paperprototype4.jpg" />
    </div>
    <span class="centerCaption">After cutting</span>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a8/paperprototype7.jpg" />
        <img src="/images/hcde533/a8/paperprototype3.jpg" />
    </div>
    <span class="centerCaption">Checking fit and comparing cut styles</span>
    <br />
    <br />
    In Rhino, I prepared my cuts by drawing a 24x18in rectangle on a different layer and locking the layer. This
    would be the laser bed that I needed to fit within or splice between. Luckily I was able to fit individual cuts
    into a single copy of the bed--no splicing across cuts. I also used these bed outlines for exporting my
    geometries, particularly the mesh pieces, for which I needed to cut 20 total.<br /><br />
    After paper prototyping and determining sizing, I tested with some scrap black cotton I had to fiddle with laser
    settings. The cotton sliced perfectly. Then I was able to move to my specific sleeve fabric, which also cut
    without any issues.
    <div class="centerFlexImages">
        <img src="/images/hcde533/a8/blackfabric0.jpg" />
        <img src="/images/hcde533/a8/blackfabric4.jpg" />
        <img src="/images/hcde533/a8/blackfabric1.jpg" />
    </div>
    <span class="centerCaption">Cotton fabric and suiting</span>
    <br /><br />
    However, the mesh tulle was much more challenging. I was prepared for issues of the mesh flying around due to
    the ventilation fan, so I used painters tape to tape across the material. This held the fabric down, but the
    laser was too strong and ended up singeing the edges, ruining the shapes. I noticed that the areas taped however
    had a nice crisp edge. To fix the issue, I decided that since I would be taping the fabric anyways to weigh it
    down, I would just mask the entire sheets with painters tape, which worked well enough. I tried some other
    techniques along the way of sandwiching with butcher paper, but edges still ended up being singed.
    <div class="centerFlexImages">
        <img src="/images/hcde533/a8/tulle1.jpg" />
        <img src="/images/hcde533/a8/tulle0.jpg" />
    </div>
    <span class="centerCaption">Entire piece of tulle in the bed masked off to avoid further burn marks</span>
    </p>

    <p><b>The Neckpiece - 3D Printing & Stock Parts</b> I originally intended for the collar of the garment to be a
        so I tried breaking the design into 4 pieces that would fit together with 3/4in width strap. I had also
        purchased LED lights for the far-reaching Phase 4 of my project. I used my calipers to measure the width of LED
        strand such that it would fit within my collar print. My measurements worked like a charm.
    <div class="centerFlexImages">
        <img src="/images/hcde533/a8/collar0.jpg" />
        <img src="/images/hcde533/a8/collar1.jpg" />
        <img src="/images/hcde533/a8/collar2.jpg" />
    </div>
    <span class="centerCaption">Three different collar iterations, two of them designed to slide the LED strip into the
        gap</span>
    <br /><br />

    However, despite a handful of iterations on the collar shape, the design was functional but not pleasing to the
    eye. Since I was behind schedule and not planning on hitting Phase 4, I took a different route and removed the
    LED stock parts, despite their perfect fit. Instead, I moved on to my other idea: 3D printing a neckpiece design
    on black tulle. This would serve almost the exact same function as the original design. I needed something to
    wrap around my shoulders and allow the sleeves
    to be connected to it.<br /><br />

    I began experimenting printing rectangles on different pieces of fabric. Using Cura, I was able to set a
    post-processing script that allowed me to pause the GCode print at either a specific layer or a height so I
    could insert a piece of fabric. Since I was experimenting with different shapes and sizes, I opted for the layer
    choice. Pausing at layer 3 to 5 appeared to be ideal. I also found that printed designs were best flexible and
    visually appealing with a gap of about 0.8 to 1.5mm between each shape. Any smaller and it couldn't move well,
    and any larger it was not coherent.<br /><br />
    I practices printing with a thicker, wide-holed mesh as well as my tulle and both worked fine. Attaching the
    fabric to the printer was the most challenging part. I originally tried tape but the heated bed weakens the
    glue. Using binder clips to secure a large cut of fabric over the board worked the best, as long as you handled
    the clips with care (while adding or removing a clip, the bed is prone to slipping and will throw off the print
    layers). Unfortunately this means wasting more fabric than desired, since the fabric needs to stretch all the
    way across the bed but not all of it will be printed on.
    </p>

    <p><b>The Neckpiece - Rhino and Grasshopper (Again)</b> To design the "scales" for 3D printing on fabric, I used
        Grasshopper to generate grids of different sized rectangles. After baking a design I liked, I would use the
        Rhino scale function to achieve different measurements (like the previously mentioned 1.5mm gap.) <br /><br />
        For the piece that would wrap around my shoulder, I knew I'd need different shapes to flow in different ways to
        capture the curve of a shoulder. I first made a rough pattern of my shoulder by covering my shoulder and top of
        arm with masking tape. I then directed my boyfriend to draw guidelines on it, such as a line across the top for
        the flat part and a curve around the round part of the shoulder. I then took it off and measured those pieces
        flat to know which sizes I should target.<br /><br />
        Back in Grasshopper, I knew I wanted something radial, so I created a circle and tried to draw various polygons
        within it to get the look I wanted. I finally ended up using the 2D "Radial" grid component with the circle and
        then building off the cells and points. This was the only way I was able to generate "rectangles" that were
        relatively sized around the circle without writing an expression. Using the "Distance" and "Larger Than"
        components, I was able to scale the rectangles to be larger the further away they are from the center of the
        circle. I baked the results into Rhino and did some refining to remove overlaps, straighten some lines, remove
        some pieces, and scale in different factors as I tested the print.<br /><br />
        Closing in on the final, I decided I did not like the flat surface I was printing. I drew some curves and lofted
        them onto my print designs, both the rectangles and the radial grid. The curves added a nice dimension that was
        originally missing.<br /><br />
        When creating the design that would replace the front part of the collar, I tried reusing the shoulder radial
        pieces, but the scale looked poor. Instead, I drew some circles and then scaled them to a shape based on my
        measurements. I then took a collection of my original rectangle pieces and used "Flow" to move them along the
        curve--I wish I had explored this option sooner! This front piece would be split into 3 pieces for printing, and
        then the back piece would be split into 2 down the middle. I finally had completed the design!
    </p>

    <p><b>Putting it All Together - Sewing & Post Processing</b> Taking on a fabric-based project always means sewing.
        After my 3D prints on tulle had completed, I trimmed one edge at a time and then hand-sewed them
        together.<br /><br />
        However, the hardest part was attaching the tulle to the elliptical layers on the sleeves. Because I laser cut
        20 pieces individually to size, I needed to attach each piece perfectly. I placed the black cut sleeve fabric on
        cardboard and stretched the ellipses out, pinning each to hold it firm. I then used Gorilla Spray Adhesive to
        spray it, and added each layer one-by-one, starting with the smallest and stacking on top. This built the
        sleeves from the inside out, and they would be flipped over when worn. The adhesive was messy and not always
        strong enough, and I went over layers multiple times and tried re-pinning layers to encourage them to dry
        together. The tulle was so exact that it was hard to place perfectly. Were I to do this again, I would cut the
        tulle larger than needed, glue, and then go back and remove the excess by hand. In a perfect world, this
        attachment would be done by sewing machine, yet the laser allowed me to cut indescribably thin pieces of fabric
        that would get caught up in my machine.
    <div class="centerFlexImages">
        <img src="/images/hcde533/a8/gluing1.jpg" />
        <img src="/images/hcde533/a8/gluing4.jpg" />
        <img src="/images/hcde533/a8/gluing5.jpg" />
        <img src="/images/hcde533/a8/gluing7.jpg" />
    </div>
    <span class="centerCaption">Gluing by lantern light in the fridgid garage</span>

    <div class="centerFlexImages">
        <img src="/images/hcde533/a8/gluing8.jpg" />
        <img src="/images/hcde533/a8/gluing9.jpg" />
    </div>
    <span class="centerCaption">Brought in to finish airing out and check design--beautifully layered!</span>

    <br /><br />
    After drying, the sleeves were hand-sewn to the shoulder pieces. The shoulder pieces were hand-sewn to the front
    and back collar pieces, and a small hook was hand sewn to the collar on the back to keep it closed.
    </p>
</div>

<div class="groupedText">
    <p>
        <b>Challenges</b>
    <ul>
        I got really sick. A large chunk of this project period I was unable to function, which set me back several
        days. Ultimately I only completed Phase 1 of my project, but it was beyond my control.
    </ul>
    <ul>
        3D printing requires planning time, but also contingency planning time. I planned out my print time for my
        designs, but I did not factor in failure and time to re-print my designs after my testing phase.
    </ul>
    <ul>
        Exploring in Grasshopper is harder than it looks. Over the past 10 weeks I've been watching Grasshopper
        tutorials to fall asleep at night. I've learned so much, but when starting my own design from scratch, it's
        challenging to find the tools you want. Grasshopper components don't work the way I think traditionally or even
        as a programmer, so I spend a lot of time looking in the wrong place or trying poor methods to achieve
        something.
    </ul>
    </p>
</div>

<div class="groupedText">
    <p>
        <b>Tools Used</b>
    <ul>
        <li>Epilog Laser Cutter</li>
        <li>Ender 3D Creatily Printer</li>
        <li>Rhino & Grasshopper</li>
        <li>Cura</li>
        <li>White Tulle - 5 yards (not all used)</li>
        <li>Black Tulle - 3 yards (not all used)</li>
        <li>Black Cotton Suiting - 4 yards (not all used)</li>
        <li>White PLA for testing</li>
        <li>White Silky PLA for final printing</li>
        <li>Butcher paper</li>
        <li>Sewing notions & accessories</li>
        <li>Gorilla Spray Adhesive</li>
    </ul>
    </p>
</div>

<div class="groupedText">
    <p>
        <b>Files</b>
    <ul>
        <li>Sleeves (Rhino) (Grasshopper) (SVG/Inkscape) (PDF)</li>
        <li>Black Sleeves Print (SVG/Inkscape) (PDF)</li>
        <li>White Tulle Sleeves Print (SVG/Inkscape 1) (PDF 1) | (SVG/Inkscape 2) (PDF 2) | (SVG/Inkscape 3) (PDF 3) |
            (SVG/Inkscape 4) (PDF 4) </li>
        <li>Fabric Print Designs (Rhino) (Grasshopper)</li>
        <li>Shoulder Fabric Print Design (rectangle) (GCode)</li>
        <li>Shoulder Fabric Print Design (radial) (GCode)</li>
        <li>Collar Design (Rhino) (GCode it. 1) | (GCode it. 2) | (GCode it. 3) | (GCode it. 4)</li>
        <li>Collar Fabric Print Design (Rhino) (GCode front part 1 & 2) | (GCode front part 3) | (GCode back part 1) |
            (GCode back part 2)</li>
    </ul>
    </p>
</div>

<div class="groupedText">
    <p>
        <b>Resources</b>
    <ul>
        <li><a href="https://www.youtube.com/watch?v=wFnmDRfl10M">Rhino flow along curve</a></li>
        <li><a href="https://www.grasshopper3d.com/forum/topics/selecting-rectangle-points">Grasshopper select rectangle
                points</a></li>
        <li><a href="https://www.youtube.com/watch?v=7O9-eWcjOQ0">Grasshopper geometric tranformations</a></li>
        <li><a href="https://www.geeetech.com/blog/2018/02/3d-printing-on-fabric-is-easier-than-you-think/">3D printing
                on fabric</a></li>
        <li><a href="https://www.instructables.com/How-to-3D-Print-Onto-Fabric/"></a>3D printing on fabric</li>
        <li><a href="https://www.youtube.com/watch?v=izKtAsdn24Y">Grasshopper creating pattern logic</a></li>
        <li><a href="https://www.youtube.com/watch?v=tPGSdsZoib4">Grasshopper attractor points</a></li>
        <li><a href="https://discourse.mcneel.com/t/split-list-of-coordinates-into-several-branches/51853">Grasshopper
                splitting coordinates into branches</a></li>
        <li><a href="https://www.grasshopper3d.com/forum/topics/split-divide-curve-at-specific-points">Grasshopper
                splitting curves</a></li>
        <li><a href="https://3dprinterly.com/how-to-use-cura-pause-at-height-a-quick-guide/">Cura pause at height</a>
        </li>
        <li><a href="https://discourse.mcneel.com/t/how-to-insert-a-picture/44440">Rhino insert a picture</a></li>
        <li><a href="https://www.thingiverse.com/thing:1256452">Thingiverse bust of a woman (originally tried to use for
                modeling collar)</a></li>
        <li><a href="https://discourse.mcneel.com/t/snap-points-to-the-nearest/70968/3">Grasshopper snap point to
                nearest</a></li>
        <li><a href="https://www.grasshopper3d.com/forum/topics/find-point-of-intersection-of-two-curves">Grasshopper
                find intersection of two curves</a></li>
        <li><a href="https://discourse.mcneel.com/t/how-to-insert-a-picture/44440">Rhino insert a picture</a></li>
        <li><a href="https://discourse.mcneel.com/t/scale-a-linear-array-to-a-set-distance/132677/3">Grasshopper scale
                an array to a set distance</a></li>
        <li><a href="https://discourse.mcneel.com/t/tan-tan-tan-ellipse/67352">Grasshopper tan tan tan ellipse</a></li>
        <li><a href="https://www.youtube.com/watch?v=aBucmPd9R9I">Grasshopper ellipse</a></li>
        <li><a href="https://www.youtube.com/watch?v=hNr6jUyZMWo">Grasshopper if/then statements for dual gradients</a>
        </li>
        <li><a href="https://www.youtube.com/watch?v=X8w9s2hcHb0">Grasshopper data filtering and conditional
                operations</a>
        </li>
        <li><a
                href="https://modelab.gitbooks.io/grasshopper-primer/content/1-foundations/1-3/3_mathematics-expressions-conditionals.html">Grasshopper
                mathematic expressions</a>
        </li>
        <li><a href="https://www.youtube.com/watch?v=urAaYAd2Wms">Grasshopper intro to expressions</a>
        </li>
        <li><a href="https://www.youtube.com/watch?v=03K5e0KwQh8">Grasshopper list manipulation</a>
        </li>
        <li><a href="https://www.youtube.com/watch?v=uRPohPlDuzc">Grasshopper interpolating curves</a>
        </li>
        <li><a href="https://www.youtube.com/watch?v=jt_pqUCSZlM">Grasshopper interpolating curvers and NURB curves</a>
        </li>
        <li><a href="https://www.youtube.com/watch?v=Cb7py_dSS44">Grasshopper how to use Anemone</a>
        </li>
        <li><a href="https://www.youtube.com/watch?v=nljlzSv1yUc">Grasshopper loops with Anemone</a>
        </li>
        <li><a href="https://www.food4rhino.com/en/app/anemone#downloads_list">Anemone library</a>
        </li>
    </ul>
    </p>
</div>

<div class="groupedText">
    <p>
        <b>Inspiration</b> I originally considered repeated shapes in plants, but couldn't think of a quick way to
        prototype just one or two interlocking, repeatable pieces to create a plant out of. Then I turned my attention
        to bugs that seem to have pieces that interlock together with their exoskeletons. For repeatability, I settled
        on a centipede. <br />
        With its body segments and angular legs, it would be a great way to meet the project goal.
    <div class="centerFlexImages">
        <img src="https://bcms-files.s3.amazonaws.com/rm0pMd8e69-773/images/Centipede.png" />
    </div>
    <span class="centerCaption"><a href="https://www.assuredenvironments.com/pest-library/profile/centipedes"
            class="projectImage">Photo source</a></span>
    </p>
</div>
<div class="groupedText">
    <p>
        <b>Sketching & Paper Prototype</b> I sketched up a rough design of what pieces I wanted to model, settling on a
        single piece that would repeat to build the body and another piece that formed a pair of legs. I also considered
        creating antennae and a more formal head shape, but decided to put that on hold until I got to Rhino.
    <div class="centerFlexImages">
        <img src="/images/hcde533/a1/centipede sketch.jpg" class="projectImage"
            alt="Rough sketch of a centipede and multiple pieces on graph paper." />
    </div>
    <span class="centerCaption">Rough sketch of pieces I wanted to make</span>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a1/centipede papaer.jpg" class="projectImage"
            alt="Several ovals cut out of paper and interlocked together, sitting on top of the sketch." />
    </div>
    <span class="centerCaption">Paper prototyping</span>
    </p>
</div>
<div class="groupedText">
    <p><b>Hand-cut Cardboard Prototype</b> After paper I moved into cardboard to measure out how large the body segments
        should be and how the cardboard would hook together. I sketched out roughly the size I wanted and then measured
        it into an easier to maintain value (30cm by 50cm ellipse.) I also tried out different depths of cuts for the
        slots, mostly between 12 and 14mm deep. My biggest blocker was realizing that the pieces slotted into
        <i>eachother</i>, meaning I needed to account for the depth on both sides.
    <div class="centerFlexImages">
        <img src="/images/hcde533/a1/centipede cardboard prototype 1.jpg" class="projectImage"
            alt="A roughly cut cardboard prototype of ovals interlocked together." />
        <img src="/images/hcde533/a1/centipede cardboard prototype 2.jpg" class="projectImage"
            alt="A roughly cut cardboard prototype of ovals interlocked together." />
        <img src="/images/hcde533/a1/centipede cardboard prototype 3.jpg" class="projectImage"
            alt="A roughly cut sketch of an M-shaped piece of cardboard for the legs." />
    </div>
    <span class="centerCaption">Figuring out sizing with hand-cut cardboard</span>
    </p>
</div>
<div class="groupedText">
    <p><b>Modeling in Rhino</b> I began mocking up the pieces in Rhino based on the measurements I decided on. I'm
        particularly a fan of the mirror tool that allowed me to duplicate objects over themselves for faster designing.
        I created a 3D model of 4mm thick pieces (the thickness of the cardboard I would be cutting). I then duplicated
        them to see how they'd look put together. I decided for simplicity only to create the body segments and
        legs.
    <div class="centerFlexImages">
        <img src="/images/hcde533/a1/centipede model.png" class="projectImage"
            alt="3D model of a bug in Rhino, featuring 4 interlocked ellipses and 2 M-shaped pairs of legs.">
    </div>
    <span class="centerCaption">3D view</span>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a1/centipede model front.png" class="projectImage"
            alt="A front view of a bug in Rhino, showing the intersection of interlocked ellipses and the M-shape of a pair of legs.">
    </div>
    <span class="centerCaption">Front view</span>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a1/centipede model top.png" class="projectImage"
            alt="A top-down view of a bug and its component shapes in Rhino, showing the ellipses and legs layered on each other.">
    </div>
    <span class="centerCaption">Top view</span>

    <a href="/images/hcde533/a1/centipede%20model.3dm" title="Centipede Rhino model file">Rhino model file</a>
    </p>
</div>
<div class="groupedText">
    <p>
        <b>Laser Cutting</b> I exported the surfaces from my Rhino file into Inkscape to cut on the Epilog laser cutter
        available to me at Microsoft's makerspace, The Garage. I test cut a couple of pieces while trying to find the
        right settings. In the end I settled on 10% Speed and 85% Power for the laser.
    </p>
    <p>After finding the settings I loaded up several pieces in the same file and proceeded to cut them close together
        to minimize waste. I found out midway that the cardboard I was using, due to its lossy paper backing, was
        causing my cuts to burn and not cut all the way through. After the first run through, I spent time peeling the
        paper off the back of the cardboard and ran the print again. This time the pieces came out mostly clean with
        limited burning.
    <div class="centerFlexImages">
        <img src="/images/hcde533/a1/centipede in cutter.jpg" class="projectImage"
            alt="Laser cutter outlining pieces to cut in cardboard." />
    </div>
    <span class="centerCaption">Getting the final cuts going. I did not pay much attention to cut order. Can you see
        the burn marks where it caught fire?</span>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a1/centipede test cuts.jpg" class="projectImage"
            alt="Some test cuts in cardboard with the laser cutter." />
    </div>
    <span class="centerCaption">Some test cuts while finding the right laser settings.</span>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a1/centipede pieces 2.jpg" class="projectImage"
            alt="The final piece of cardboard after some pieces were cut out." />
    </div>
    <span class="centerCaption">Popping the pieces out of the cardboard. This was after peeling the paper away to
        make cleaner cuts. You can see the original failed cuts on the far side.</span>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a1/centipede pieces.jpg" class="projectImage"
            alt="Several little pieces of cardboard scattered on a table." />
    </div>
    <span class="centerCaption">My laser-cut building blocks for my centipede!</span>
    </p>
</div>
<div class="groupedText">
    <p><b>Final Product</b> After cutting I put the pieces together and ta-da! My cardboard centipede was born!</p>
    <div class="centerFlexImages">
        <img src="/images/hcde533/a1/centipede done 1.jpg" class="projectImage"
            alt="A centipede constructed out of interlocking pieces of cardboard." />
        <img src="/images/hcde533/a1/centipede done 3.jpg" class="projectImage"
            alt="A centipede constructed out of interlocking pieces of cardboard." />
        <img src="/images/hcde533/a1/centipede done 2.jpg" class="projectImage"
            alt="A centipede constructed out of interlocking pieces of cardboard." />
    </div>
    <span class="centerCaption">Featuring the Epilog laser cutter used to make my centipede come to life.</span>

</div>