/*
* "View on Github" buttons on the Project page
*/
.gitHubButton {
    position: relative;
    right: 5px;
    background-color: #19c589;
    border-radius: 6px;
    text-align: center;
    float: right;
    width: 140px;
    height: 30px;
    font-variant: small-caps;
}

.gitHubButton a {
    display: block;
    color: white;
    text-decoration: none;
    line-height: 30px;
}

.gitHubButton:hover {
    background-color: white;
    color: #19c589;
    display: block;
}

.gitHubButton:hover a {
    display: block;
    background-color: white;
    color: #19c589;
    border-radius: 6px;
}

/*
* A fix for the buttons, by floating it inside this element, it won't sit on top of the text.
*/
.buttonHolder {
    height: 30px;
    /*must be same height as the gitHubButton*/
    width: 100%;
    position: inline;
}

/* Keeps project images mildly responsive */
.projectImage {
    height: auto;
    max-width: 100%;
    /* Keeps image from stretching vertically in flex*/
    align-self: center;
}

.centerFlexImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2%;
    row-gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.centerCaption {
    display: block;
    text-align: center;
    margin-bottom: 10px
}


table,
th,
td {
    border: 2px solid #E3794F;
    border-collapse: collapse;
}

/* .dataTable {
    border: 3px solid red;
} */